[2017-08-06 13:33] ikkyu-3 opened #1 "vimのinstall"

[2017-08-26 04:48] ikkyu-3 commented on #1
install完了

[2017-08-26 04:48] #1 closed

[2017-08-27 03:35] ikkyu-3 opened #2 "Python3系のインストールなど開発環境構築まとめ"
Python2系から3系に変更するときやった内容をまとめたいと思います。
よろしくお願いします。

[2017-08-27 03:40] ikkyu-3 opened #3 "PaSoRiとRaspberry Piを接続し、読み取りができるかテストする。"
1. ドライバーのインストール
2. PaSoRiとRaspberryをUSBで繋げて、接続確認
3. ICカードをスキャンして、読み取れるかどうか確認する

[2017-08-27 03:44] ikkyu-3 opened #4 "DBの再考慮"
RaspberryPiにDB入れること自体がよくなかったっぽいので、
DBに関していろいろ決め直す必要があります。
わからないことばかりだけど、調べながらいい案考えましょう。

[2017-08-27 05:36] kakaka19 commented on #4
https://www.raspberrypi.org/products/raspberry-pi-3-model-b/

ラズパイのRAMが1GBしかないので、それぞれのPCにテスト用のDBサーバを用意しておくのが、とりあえずの回避策だと思います。環境依存とかで問題が頻繁する可能性はありますが……

[2017-08-27 06:07] ikkyu-3 commented on #4
ではとりあえずテストDBサーバを作成ということにしようと思います。
「elasticsearchをローカルにインストールする」で行きましょう！

ポート番号を一緒にするぐらいでいいですかね？

[2017-08-27 06:13] kakaka19 commented on #4
起動オプションでポート指定できるので、起動用のシェルスクリプトとか用意しとけば問題ないかなと思います。

[2017-08-27 06:20] ikkyu-3 commented on #4
了解。シェルスクリプトで対応します。

といいつつ、作成したことないので、
作成がてら、シェルスクリプトの作成方法を共有したいと思います。
新しくissueつくります。

ということで対応が決まったので、closeします。

[2017-08-27 06:20] #4 closed

[2017-08-27 06:22] ikkyu-3 opened #5 "起動用のシェルスクリプト作成"
elasticsearchの起動シェルスクリプトを作成する。

[2017-09-10 07:18] ikkyu-3 commented on #2
今回3系は使用しないことになったので、クローズします。

[2017-09-10 07:18] #2 closed

[2017-09-10 07:18] ikkyu-3 commented on #3
接続確認できました！

[2017-09-10 07:18] #3 closed

[2017-09-23 06:25] kakaka19 opened #7 "rksjs1no"

[2017-09-23 06:32] kakaka19 commented on #7
とりあえず当座は1の対応でいく。

http://d.hatena.ne.jp/remies/20140513/1400007728

[2017-09-30 07:30] kakaka19 opened #9 "カード読み取り時、Raspberry piから音源を出力する"
カード読み取り時にRaspberry piから音声を出力したい

言語
javascript

実行環境
node.js

__できれば人ごとに異なる音声が出力されれば楽しい__

[2017-09-30 07:56] kakaka19 opened #10 "Raspberry Piのipアドレスを固定しつつ、外部ネットワークに接続する"
Raspberry Piはwifiに接続するたび、異なるipアドレスが割り振られる。その場合個人環境からssh接続を行う際に、毎回ipアドレスを確認しなければならない。

そのため、ipアドレスを固定する必要があるが、ipアドレスを固定すると、社内wifiから外部ネットワーク(githubなど)を参照できない(確かwifi自体には繋がってたはず・・・忘れました)。

Raspberry Piの環境構築はほぼ完了しているが、作成したモジュールなどのデプロイはgitで行うことを想定しているので、githubの参照は必須。

- 試行案

以下のHPを見つけた。これで解決するか？
[Raspberry Piでいろいろなネット環境でつないで外部にだけつながらない時の対処法](http://www.1ft-seabass.jp/memo/2015/05/15/raspberry-pi-dhclien

[2017-10-01 08:08] ikkyu-3 commented on #10
これで解決したとあるけど、根本的な原因解決はできていないように思えます。
仕様なのか、バグなのか。。。なんか気になってしまう。

とりあえず接続できればいいのだけども。。

[2017-10-14 07:37] minako-nakanishi opened #11 "ネジを買う"
ラズパイを固定するためのネジを買う。
（既存のものだと蓋が閉まらないため）

[2017-10-14 16:15] kakaka19 commented on #9
音声再生はできた。カード読み取り機能と連携する。

[2017-10-14 16:18] kakaka19 commented on #7
いちいちユーザを切り替えるのはやはり面倒。piユーザで開発を行うのは避けたいので、共通ユーザでログインできた方が良い。

[2017-10-14 16:32] kakaka19 opened #12 "githubの機能を活用する"
現時点で使用しているgithubの機能は以下の通り
- Issue
- Wiki
- Pull requests

他にもいろいろなことができるはずなので、最大限に活用したい。思いつくものとしては
- Label
- Projects
- Milestone
- Issue Template

ただ、活用することだけに着目して開発フローが滞ると意味がないので、全体の共有・意見収集は必須。

[2017-10-14 16:42] kakaka19 opened #13 "ICカード読み取り時に出力する音声を検討する"
ICカード読み取り時に人ごとに異なる音声が出力したい。

実装・設計はスコープ外。**誰の**ICカードを読み込んだ時に、**どの音声/音源**を出力するかを決定して欲しい。

せっかくなので、色々な背景を気にせずに自由に検討していただきたいです。

[2017-10-14 17:01] kakaka19 opened #14 "利用者登録画面のプロトタイプを実装する"
[Raspberry Pi RASPBERRYPI-DISPLAY](https://www.amazon.co.jp/Raspberry-Pi-RASPBERRYPI-DISPLAY/dp/B0155WN7CK/ref=pd_bxgy_147_img_2?_encoding=UTF8&psc=1&refRID=BJBYXGMN88P9QRXKSV4J)とRaspberry 3は連携できたので、利用者の登録画面は実装することができる。

ただ、現段階では利用者情報の要不要が明確になっていない。プロトタイプを作成することで、仕様/詳細設計が見えてくるはず。

expressを利用したコーディングに慣れる事も含め、利用者登録画面のプロトタイプを実装してほしい。

[2017-10-14 17:03] kakaka19 commented on #14
@toyoshimmer
@ikkyu-3
プロトタイプの実装issueを勝手に作成してしまいましたが、色々と決めておいた方がいい事もあると思いますので、一度時間をとって話し合った方がいいかもしれないですね。

[2017-10-14 17:21] kakaka19 opened #15 "開発フローを検討する"
#14 を行うにあたって、開発フローを決定したい。

現時点(2017/10/14)で決まっている事項は以下の３つ。全体への共有も含めて記載しておく
- developにコミットはしない
- branchはgithubのアカウント名で作成する。
- 開発用branchからPull requests→他の人がレビュー→OKならdevelopにmerge

最低限、上記の項目を踏まえていれば開発は可能。

検討事項としては以下が挙げられる。
- gitで管理しないファイルの検討(個人情報等)
- 仕様決定→設計→実装といった開発における大まかなサイクルの決定
- レビュー観点

[2017-10-14 17:48] kakaka19 opened #16 "Milestoneを作成する"
**課題把握**と**issueの見直し**を目的としてMilestoneを使用したい。進捗管理を行うにあたっても便利な機能だが、厳密にリリース日が決まっていないので、主目的ではない。

MIlestoneを使用し、issueの進捗を把握することで以下のメリットがある
- ある人がハマってしまっている課題に対し、他の人が解決方法を提示できる。
- 残存issueに着手しやすくなる。
- issueの把握にいちいち集まる必要がなくなる
- 消化できないissueに対し、適切な期限を再検討できる

[2017-10-14 17:58] kakaka19 opened #17 "サーバを運用するあたって、どういった設定が必要か検討する。"
自由に設定/使用できるサーバがあるので、有識者の意見を伺いつつ、サーバの設定を行う。

現時点(2017/10/14)ではElasticsearchを導入し、DBサーバとして運用することが決まっている。しかし、他のプロジェクトでも使用するので、互いに影響することがないようにしたい。

OSはUbuntuをインストールしているが、もしかすると仮想マシンホストとして運用し、プロジェクト毎にインスタンスを作成した方がリソースを気にせずに済むかもしれない。

[2017-10-15 05:16] ikkyu-3 commented on #12
[こっそり始めるGit／GitHub超入門（12）：開発者のスケジュール管理に超便利、GitHub Issues、Label、Milestone、Projects使いこなし術 (1/4) - ＠IT](http://www.atmarkit.co.jp/ait/articles/1704/28/news032.html)

このサイトが参考になりそうな気がします。
時間見つけて目を通しておくといいかも

[2017-10-15 06:14] ikkyu-3 commented on #15
Slackでファイル共有できるので、個人情報などの情報に関しては、こちらで共有するようにするのはどうでしょう？

[2017-10-15 14:06] kakaka19 commented on #15
個人情報に関してはSlackでいいですね。ただサーバのIPアドレスとか、テスト用のICカードのID?とか、微妙なラインが気になりますね。漏出することよりも、この情報はpushしてもいいのか？って迷わないようにあらかじめ決めておきたいです。

レビューに関しては、Airbnbのコーディング規約が参考になりますかね。
[Airbnb JavaScript スタイルガイド](https://mitsuruog.github.io/javascript-style-guide/)

[2017-10-15 14:11] minako-nakanishi commented on #11
ネジの種類を調べておく。

[2017-10-15 14:54] kakaka19 opened #18 "Raspberry pi 3に共通ユーザでログインする"
piユーザでログインし、suコマンドで共通ユーザに切り替えているが、環境変数が引き継がれない。

suコマンドにオプションをつけることで回避できるようだが、初めから共通ユーザでログインできれば、ユーザを切り替える必要もない。

[2017-10-15 14:55] ikkyu-3 commented on #15
その情報は、アプリが持っている情報なのかで判断するのはどう？
例えば、
`ICカードのIDは、カードが持っている情報だからpushしない。`

わかりやすいでしょうか？

[2017-10-15 15:01] kakaka19 commented on #15
なるほど、それはわかりやすいですね。それなら、共有しない情報としては今の所
- サーバのIPアドレス、ホスト名
   - 各々設定ファイル(.yml?)を作成することで回避。設定ファイルはpushしない
- DBサーバのURL
- ICカードのID

ぐらいですかね。
　

[2017-10-16 13:46] ikkyu-3 commented on #15
だね。それでいいと思います！

[2017-10-17 13:28] ikkyu-3 commented on #16
## Milestone候補
* 開発準備
* 要件定義
* テスト実装
* 設計
* 運用
* 開発
* テスト
* リリース準備

こんな感じでどうでしょうか？
テスト実装は本当にその機能を実現できるのか的な意味合いです。プロトタイプ的なイメージ。
とりあえず、あげてみました。

[2017-10-17 13:35] ikkyu-3 commented on #13
## ぱっと思いついたもの
### 登録されていないICカードを読み込んだ時
* 音声なら「このICカードは登録されていません。」というアナウンス。音ならエラー的な音かなー
### デフォルト音源
* どっかで聞いたことのあるような音がいいなー。直感的
### カスタム音源
* ある程度音源や音声を用意しておいて、自分用にカスタムできるとおもしろいかも。
### ユーザー提供
* やはり自分でききたい音声があるはずと思うので、こういうのあるとテンション上がりますね。笑

**みなさんはどうでしょうか？**

[2017-10-17 13:45] ikkyu-3 commented on #15
1. 開発フローのドラフト作成
1. 開発メンバーはハンズオンで一度一通りの作業をやってみる
1. 反省会
1. 開発フロー作成
1. READMEとWIKI作成

こんな感じでどうでしょう？
勉強にもなるし、課題など新たな発見があるかと思います。

[2017-10-21 04:44] kakaka19 opened #19 "javascriptやExpressにおけるTipsを書いていく"
javascriptのコーディングや、Expressの使い方など、各自気づいたことや、教えてもらったことをコメントに追加していく。いくつかまとまったらwikiを作成していく。

javascript

- node.js 7系からclassが定義できるようになったので、`prototype`よりも`class`を使った方が良い。

参考：ES2015のnode.js対応状況 http://node.green/

[2017-10-21 08:45] toyoshimmer commented on #19
javascript

- Setterを用いる場合、別名の変数に値を保存しないとSetterが無限に再帰的に呼び出されてしまい、`Maximum call stack size exceeded`エラーが発生してしまう。

悪い例
[code]

良い例
[code]

参考：https://qiita.com/hosomichi/items/c7d3cae7884a5e12a064

[2017-10-22 12:32] ikkyu-3 opened #21 "DBサーバをWi-Fi接続できるようにする"
* 有線LAN使用ができない環境のため、Wi-Fi接続ができるように環境設定することが必要
* USBドングル(I-O DATAのWN-G150UMシリーズ)を使用する

[2017-10-22 16:12] ikkyu-3 commented on #21
こちらのサイトが参考になりそう
https://beautifulajax.dip.jp/?p=1016

試してみます。

[2017-10-23 04:04] kakaka19 commented on #18
共通ユーザを廃止。piユーザで今後は開発、運用することに決定。20171021に移行は完了したのでクローズ。

[2017-10-23 04:04] #18 closed

[2017-10-23 04:06] kakaka19 commented on #9
実装完了。クローズ

[2017-10-23 04:06] #9 closed

[2017-10-23 04:29] krhrtky opened #22 "[Low Priority] Node.jsのバージョンの統一"
### 現状
* user : pi
* 実行方法によって、異なるバージョンのNode.jsが、動作する環境になっている(以下参照)。

[code]
[code]
### 統一する理由
* 今のところ、 `node` のみの使用なので問題はない。

* 今後、思わぬところで動かなくなって手が止まるのを避けたい。

### 対応案
* いずれかの方法で対応を検討。
  1. `/usr/bin` 配下にある 0.1x系 をアンインストール
  1. `/usr/bin/node` にnvmで選択しているバージョンのディレクトリを参照するようにシンボリックリンクを張る

### タイミング
* 手すき、息抜き程度でいいかと思います。

[2017-10-23 15:48] kakaka19 opened #23 "ローカルPCにテスト環境を構築する"
### 目的
ローカルPCにテスト環境を構築する。

### 規定事項
|事項|値|
|---|---|
|仮想OS|Ubuntu|
|DB|Elasticsearch|
|実行環境|Docker|

### ゴール
- 手順をwikiに記載

[2017-10-28 02:58] kakaka19 commented on #23
dockerはOSの選択ができない。

[2017-10-28 03:01] kakaka19 commented on #23
ローカルPCに仮想マシンを立てて、dockerを導入。vagrantを使えば共有も簡単。

[2017-10-28 03:17] kakaka19 commented on #23
Docker Hubを使えばコンテナごとデプロイすればいい。

https://hub.docker.com

[2017-10-29 07:58] ikkyu-3 commented on #21
## 原因判明しました
`MAC Address Randomization` が有効になっていたことが原因でした。
「無効」にすることで、接続ができました。

以下のサイトを参考に対応。
[Ubuntu 17.04 その35 - 無線LANに接続できない問題 - kledgeb](https://kledgeb.blogspot.jp/2017/04/ubuntu-1704-35-lan.html)

一応補足として
`Randomized Network MAC Address`は本来、MACアドレスをランダムにして、匿名性を高めるような目的があります。
[匿名化ネットワークMACアドレス - コミュニティヘルプWiki](https://help.ubuntu.com/community/AnonymizingNetworkMACAddresses)

理想としては、`Randomi

[2017-10-29 07:58] #21 closed

[2017-11-04 13:37] ikkyu-3 commented on #10
今回対応しないことになったので、Issueはcloseします。

[2017-11-04 13:37] #10 closed

[2017-11-23 08:01] ikkyu-3 opened #24 "画面レイアウトの設計"
仕様が決まり、実装する機能も共有できたので、
画面レイアウトの設計をします。

[2017-11-30 12:57] minako-nakanishi commented on #11
いらないのでクローズ

[2017-11-30 12:57] #11 closed

[2017-11-30 12:58] minako-nakanishi opened #25 "画面のプロトタイプ実装"
モックができたので、プロトタイプを実装する。
それを元に画面側の検討を行う。

[2017-11-30 13:03] minako-nakanishi commented on #25
プロトタイプ実装後、
@Tchikawa にレビューしてもらう。

[2017-12-02 09:01] ikkyu-3 opened #26 "フロント開発環境の設定"
# Reactが使えるように開発環境の設定を行う
- webpack
- babel
- css mosules
- json server

[2017-12-03 14:19] ikkyu-3 commented on #23
JSON Serverで対応するのでClose

[2017-12-03 14:19] #23 closed

[2017-12-03 14:20] ikkyu-3 commented on #17
別リポジトリに以降したためClose

[2017-12-03 14:20] #17 closed

[2017-12-03 15:36] ikkyu-3 opened #27 "フロント画面開発の仕方に関して"
画面のレイアウトが出揃いました。
そこで画面開発に関して一度、意見がほしいです。

## 現在の開発フロー
1.  待ち受け画面をtankette148、Tchikawa、toyoshimmer がHTMLで作成する
1.  作成した3つの中から、1つをアプリに使用するHTMLとする
1. ikkyu-3、minako-nakanishiがReactで使用するためjsxに変換する
## 問題点
- 他の画面の開発の進捗が進まない
- 頑張って作成したHTMLが使用されないのはやっぱり悲しい
## 提案
1. 待ち受け画面は現状のまま３人が作成します(変更なし)
1. 他の画面はそれぞれ担当を決める(サポートはikkyu-3)
1. 出来たらminako-nakanishi(スキル的にtoyoshimmerもできるかと思います)にはPresentational componentで使用するた

[2017-12-03 15:42] minako-nakanishi commented on #27
Presentational componentは不安なので、toyoshimmerにも参加していただきたいです。

[2017-12-03 16:16] ikkyu-3 opened #28 "EditorConfigの設定"
## 目的
コードの統一性を高めるため

## 設定範囲
html, js, jsx, css

## 設定内容
ソフトタブ
インデントは4

[2017-12-03 17:01] ikkyu-3 opened #30 "ESLintの設定"
## 設定しようと思っている内容
推奨チェック項目設定( eslint:recommended)
セミコロン必須

また、以下のサイトを参考にして
ESLintの設定を行う

参考サイト
[ESLint で ES6で書かれたReact のコードを検証する - Qiita](https://qiita.com/kjugk/items/b9dfc876e16dbfa4f447)
[ESLint 最初の一歩 - Qiita](https://qiita.com/mysticatea/items/f523dab04a25f617c87d)

[2017-12-04 00:51] Tchikawa commented on #27
画面担当決めたいっす！

[2017-12-04 04:20] toyoshimmer commented on #27
Presentational componentやります！

[2017-12-04 04:22] ikkyu-3 commented on #27
@toyoshimmer
画面開発とPresentational component対応の両方やるってことでいいですか？

[2017-12-04 04:38] toyoshimmer commented on #27
そうです！

[2017-12-04 15:30] tankette148 commented on #27
問題点、1はある程度は勉強と割り切る、
2は担当決めれば進められるかと！
なので提案そのまま進める感じで。
とりあえず担当画面決めましょー！

SVGは画面サイズ的に280px*400pxくらいで良さそうかと思いました。

[2017-12-04 15:57] ikkyu-3 commented on #27
@みなさん
了解です。次のMTで担当きめましょう！

一度そのサイズで見え方をみんなで確認したいです。

[2017-12-04 16:28] kakaka19 commented on #27
お疲れ様です！
横槍で申し訳ないのですが。管理者画面の方も併せて話し合ってくれるとサーバーサイドとしては助かります！手が止まってしまうので。
何となくで良いので決めてほしい事項としては
- グラフを出したいか、D3.jsを使うのか
- 訪問者を一覧として出したいか(これは結構重要です)
あと、仕様として管理者側がどのような機能を欲しているのかは気になります。
現時点だとラズパイ側のUI(UX?)がメインですが、併せて決めましょう。というか、管理者側のUi、もしくは必要条件が揃わなければ、API側の仕様が決定できません。
@Tchikawa @ikkyu-3 @tankette148 の負担が大きくなるやもですが、とりあえず変更が前提としたモックでもいいので、決めてしまいましょう。これマジな。

[2017-12-04 16:40] tankette148 commented on #27
画像フォルダ直下に280px*400pxと250px*450px(こっちのがいいなと思って調整したやつ)おいときました。
微調整は話し合いながらのが良さそうかと

[2017-12-06 14:27] ikkyu-3 commented on #27
話し合い完了したのでクローズ

[2017-12-06 14:27] #27 closed

[2017-12-06 14:34] ikkyu-3 opened #31 "【モック】ユーザID入力画面の作成"
共有したキー入力画面(モック)の作成をお願いします。
モックなので、まずは、htmlとcssで作成してみてください。

以下のことを考えて実装してもらえるといいかと思います。
- ~~inputタグを使用しない方法で実装~~
- 足りないキーを作成

対応が遅くなるかもしれなですが、サポートしますのでよろしくお願いします。

[2017-12-06 14:52] ikkyu-3 opened #32 "【モック】参加者一覧画面の作成"
共有した参加者一覧画面(モック)の作成をお願いします。
モックなので、htmlとcssで作成してみてください。

以下のことを考えて実装してもらえるといいかと思います。

- tableのヘッダーを固定したまま、ボディーがスクロールできるようにする
- 入退室スイッチにbox-shadowを使用してみる

目的の色は指定があります。
共有フォルダの画面に、色を決めた時の画像ファイルがあるので、そちらで確認してください。

対応が遅くなるかもしれなですが、サポートしますのでよろしくお願いします。

[2017-12-06 14:57] ikkyu-3 opened #33 "【モック】目的選択画面の作成"
共有した選択一覧画面(モック)の作成をお願いします。
モックなので、htmlとcssで作成してみてください。

以下のことを考えて実装してもらえるといいかと思います。
- CSS Grid Layoutを使ってみましょう
- positionプロパティを意識してみてください

目的の色は指定があります。
共有フォルダの画面に、色を決めた時の画像ファイルがあるので、そちらで確認してください。

対応が遅くなるかもしれなですが、サポートしますのでよろしくお願いします。

[2017-12-06 15:59] ikkyu-3 commented on #14
別のIssueで対応します。

[2017-12-06 15:59] #14 closed

[2017-12-06 16:03] ikkyu-3 commented on #16
2つにします。

### Preparation
開発準備フェーズ 例: 仕様決め, 環境設定, 設計, 調査

### Development
開発フェーズ 例: 開発、モック開発、仕様や機能の問題提起など

[2017-12-06 16:03] #16 closed

[2017-12-07 03:41] krhrtky opened #34 "[開発環境整備] gitignore_global の設定"
## 概要

* このリポジトリに紐づくファイル以外が `.gitignore` に記載されている。

* 今回は良いと思いますが、自動生成にしても毎回書くのって面倒ですよね(.DS_Storeとかとか)

* ↑だと長くなっちゃうので、どれがこのリポジトリのために除外されているのかが確認しづらい。

* 1ファイルにベタに `.gitignore` 書くファイル名とか拡張子を記述しておく方法で、PC内のgitで管理されたリポジトリに同じことを書かなくて済むようになります。

* それが `gitignore_global` です(表現不安)。

## 手順

* [この記事](https://qiita.com/katsew/items/5cade12fa743a2f31f25)を参考に設定すればOKなはず。

* 概要は、[こちらの記事](https://qiita.com/elzup

[2018-01-14 16:37] ikkyu-3 commented on #12
@kakaka19
運用に関してだけど、閲覧の設定ができる...と聞いて調べて見たけどよくわからなかったから、URL貼ってもらっていいですか？

[2018-01-15 15:11] kakaka19 commented on #12
@ikkyu-3
slackでも送りましたが、wikiとかソースは基本publicみたいです。（勘違いしていたようです。すみません。。。）
調べて見たんですが、ドキュメントの共有サービスは有料が多いみたいなので、Google Driveとslackの連携を調べてみます

[2018-01-16 00:14] ikkyu-3 commented on #12
@kakaka19
調査ありがとう！

 Driveとslackの連携ができないか調べてみます。

対応ありがとう！確認しました！どうなるのかちょっと試してみたいねー

ありだと思う。無料枠(人数制限的な意味で)の確認してみる必要があるかも、、これは...とりあえず、無料枠に関してはこっちで調査しときます。その後、現状いけそうなら検討してみるって感じでどうでしょう？

[2018-01-16 09:24] ikkyu-3 commented on #12
5ユーザまで無料だね
https://ja.atlassian.com/software/bitbucket/pricing?tab=cloud

んー、やり方考えればいけそうだね。
有料枠という選択肢、一度交渉してみるってのもいいかもって思ってはいるかなー

[2018-01-16 13:55] kakaka19 commented on #12
@ikkyu-3
http://japan.blogs.atlassian.com/2012/09/refer-a-friend-to-bitbucket-for-free-users/

bitbucketのアカウントを持っていない人ならさらに+3人まで招待できるみたいですね。ただ2012年の記事なので、今でも可能なのか怪しいですが..

一旦原点に立ち戻って考えたのですが。
__Google Driveのドキュメントが更新されても、他のメンバーが更新を知ることができない__
っていうのが最大のネックだと思っています。

なので、以下のフローに沿ってやれば、現状、GitHubのissue + Google Driveで解決できると思っています。不便は不便ですが...
1. githubに仕様関連のissueを作成する
1. Google Driveのドキュメントを更新する
1. issu

[2018-01-16 14:35] kakaka19 opened #35 "ドキュメントの運用を検討する"
## 目的
ドキュメント(仕様書、設計書)の運用を検討する。

## 背景
資料をGoogle Driveで管理しているが、以下の問題がある。別のサービスを利用することで、解決できないかを調査する。
- Google Drive上のドキュメントを更新しても、通知がいかない。
- ローカルで資料作成 → アップロードが手間
- 差分がわからない

## ゴール
Google Drive上の資料を精査し、公開して問題が発生するか判断する。

1. 発生しえない場合
運用ポリシーを決め、Githubのwikiで運用する。
1.  発生する可能性がある場合
閲覧制限が可能なドキュメント運用サービスを調査する。

2に関してはいくつか候補が上がっている。無料であることが前提。
- Bitbucket(wikiのみ)
- [Crowki](http://site.crowi.wiki/) + [Her

[2018-01-16 15:07] Tchikawa commented on #33
作成完了いたしました
https://github.com/Tchikawa/html_test/tree/master/select

[2018-01-16 15:17] kakaka19 commented on #35
Google Drive上の資料をファイルごとに精査

チェック項目
- 個人を特定できる社内情報が書かれていないか？
- 個人名/個人メールアドレスが書かれていないか？
- そもそも公開/共有する必要があるものか？

チェック対象ディレクトリ
- [ ] そのほか
- [ ] 画面
    - [ ] 画面原案
- [ ] 活動ログ関連
- [ ] 仕様・設計関連

### そのほか
画面側のアーキテクチャ。写真だが、図に整形する必要はある。公開しても問題なし

### 画面
画面側のモック(jpg)。公開しても問題なし。写真にニックネームが書かれているが、これは共有/公開する必要がない。

### 画面原案
モックの原案(写真)。図に整形する？画面のモック(jpg)ができているなら共有する必要がない気がする。

### 活動ログ関連
タスクを割り振ったテキストファイルが一つ存在。公開/

[2018-01-16 15:49] krhrtky commented on #35
@kakaka19 @ikkyu-3
概ね問題ないように思います。

記載内容にちょっと具体的な記述があったので、そこを変えておけば堅いかなと。

[2018-01-16 16:09] ikkyu-3 commented on #35
### その他
図にする必要ありでおkです！
### 画面
キャラクターに関して。自作したものか、公開しても大丈夫なのか確認したいです。その他は同意見。
### 画面草案
ラフ絵を清書したのが画面と判断でいきましょう。なので必要なしという意見です。
### 活動ログ関係
同意見
###  仕様・設計関連
#### api.txt
同じ認識。ユーザIDはどうでしょう？
#### sta_access_managerの機能.txt
名称を修正しておきたいです。登場人物の()内は公開する必要がないと判断はどうでしょう？
#### sta_access_managerの要求・要件.txt
同意見
#### 管理者画面案.txt
同意見。用語を他と統一する必要がありって思ってます。

すこし濁して書いていてよかった。。

ドキュメントの修正で公開できるでおkです！

[2018-01-16 16:14] Tchikawa commented on #35
**画面**
キャラクターに関して。拾ってきたやつに色つけたやつなので...アウトだと思います...すみません....

[2018-01-16 16:17] ikkyu-3 commented on #35
@Tchikawa
ありがとう！サイトに明示的に使用方法など書いてない場合は、使わないという判断は正しいです。

@kakaka19 @krhrtky @Tchikawa
何か画像を作って、差し替えで対応でどうでしょう？

[2018-01-18 15:42] Tchikawa commented on #35
画像差し替え今週中に対応します

[2018-01-19 17:34] ghost commented on #35
ドキュメント運用検討

以下の要項を判断基準としました。優先度順で記述しています

1. 編集が楽かどうか
1. ドキュメント更新の通知が行くかどうか
1. 閲覧制限が可能かどうか
1. 情報が探しやすいかどうか

### 案1

Github wiki

__positive__
- 編集が楽。markdown記法を知っていれば書ける
- 自動でページ一覧を作成してくれる
- ローカルでなら`git log`で差分を確認できる

__negative__
-  __Slackに通知できない__

### 案2

Github Pages

__positive__
- ソースリポジトリで管理するため、__更新のたびにSlackに通知できる__
- ソースリポジトリで管理するため、差分がブラウザで確認できる
- ドキュメント更新でプルリクエストが作成可能。ドキュメントのレビューができる

[2018-01-20 01:29] krhrtky commented on #35
@kakaka19
 調査ありがとう！
↑の内容を受けて、もう一つ候補の提案。

### gitでmarkdownファイルの管理をする

- イメージとしては、案１・２の中間

**positive**

- 編集が楽。markdown記法を知っていれば書ける(案1)

- ローカルでならgit logで差分を確認できる(案1)

- ソースリポジトリで管理するため、更新のたびにSlackに通知できる(案2)

- ソースリポジトリで管理するため、差分がブラウザで確認できる(案2)

- ドキュメント更新でプルリクエストが作成可能。ドキュメントのレビューができる(案2)

- JSの勉強会のまとめをしているのが、参考になるかと

   https://github.com/hr-js/learn_js_function/blob/master/doc/minutes_1.md

**neg

[2018-01-20 02:06] ghost commented on #35
@krhrtky

ソースと一緒に管理するっていうのはあり。でもたまに変に文字化け？するっぽいんだよね...

[2018-01-20 06:21] ikkyu-3 commented on #35
@kakaka19 @krhrtky
調査や提案ありがとう。

_markdownファイルを管理する_
これいいな！って思いました。

確かに。。

[Vim - VSCodeで編集したmarkdownをgithubで表示すると文字化けする(85390)｜teratail](https://teratail.com/questions/85390)
使用するエディターっぽいですね。

githubのwikiをmarkdownファイルに変えて、目次を作った場合、作業時間が結構かかってしまわないかて少し不安に思いました。

通知の優先度がさがると、githubのwikiでの運用でいいと思います。
これを採用するってことでどうでしょう？

[2018-01-20 17:13] ikkyu-3 commented on #33
現在レビュー中です。
画面はほぼほぼ完成段階にあります。少し修正してもらったりと、対応してもらっている状況です。

[2018-01-21 03:43] ghost commented on #35
@ikkyu-3
@krhrtky

ひとまず、wikiで行きますか！やっぱり通知がほしいってなったらソースリポジトリに移行しましょう。

[2018-01-21 05:10] ikkyu-3 commented on #35
それでいきましょう！

[2018-01-21 05:26] ikkyu-3 opened #36 "画面側のアーキテクチャの図を作成する"
[ドキュメントの運用を検討する #35](https://github.com/hr-js/sta_access_manager/issues/35)関連

## 現状
画面側のアーキテクチャは、ホワイトボードにかいた図を写真で撮ったもの
## 目的
図に清書(自分が担当)し、wiki(現在追加する箇所で検討しているのは、Homeの構成部分)に追加する

画像を図にするだけですが、wikiへの追加箇所について相談できればと思います。
- Home(現在はこっちで考えています)
- 別ページ

[2018-01-21 05:53] ikkyu-3 opened #37 "flow.jsの導入"
## 背景
React.jsのPropTypeは型をチェックして、warningを出してくれますが、実行中のみ。
実行するまで、気がつかない時があり、
ビルドして、チェックしてと色々時間がかかってしまうことがある。

[Flowtypeに入門してJavaScriptコードで静的型付けの恩恵をうけるところまで | MMMブログ](https://blog.mmmcorp.co.jp/blog/2016/03/25/static-type-check-with-flow-type/)

こちらの記事を見て、導入して見たいと思ったのがきっかけです。

## 導入するまでに
- 導入方法の調査
- 使用方法
- 使用する粒度を定義(exculude)する必要がある

[2018-01-21 06:06] krhrtky commented on #35
@kakaka19
いいと思います！

[2018-01-21 07:09] ikkyu-3 opened #38 "フロント側の実装スケジュールを検討"
色々(モック画面)など進んできたので、リリース予定を仮で3月中と決めてみました。
期限を決めた方がいいと判断したためです。

残りの課題として
- 各画面の機能定義したドキュメントを作成する。PDFで作成する予定です。
- 残りの画面のモック
- コンポーネントの作成
- reactとreduxの連携
- モジュールの作成
- 現在のIssuesの消化(調査など)
- テストケース作成

やることは多そうですが、自分が一度経験しているものが多いので、３月中と見通しをたてました。
進捗はとっていき、リスケする判断も必要になってくるとは思います。

何か意見あれば、よろしくお願いします。

[2018-01-21 07:30] ikkyu-3 opened #39 "APIのデータモデルの型に関して"
## 現状
記載したのは全て `""` がついているので、string型と判断できる。

作成したのは自分ですが、
true, falseは、boolean型にしたほうがいいのでは？と考えています。

NGのmessageは「０ or 1」(文字列)で定義しています。
文言変更を考慮してステータスコードの意味合いとしてと思いましたが、プロパティをステータスにすればいいのでは？
などなどです。

## 変更の影響
- 変更した際の影響範囲、開発の進捗に影響が出るなど知りたいです。
- フロント側はこれからなので、影響なし

## 目的
修正ありでもなしでも、wikiにデータの型を明示したいと思います。

どうでしょうか？
ご意見もらえると嬉しいです。よろしくお願いします。

[2018-01-21 07:32] krhrtky opened #40 "APIのパラメータValidation時の挙動について"
## 考慮すべき点

- Validationチェックにかからない
エラー(サーバ側での処理の失敗)

    statusは200、返却値resultで処理の成否を判定する。

- Validationチェックによるエラー(必須のパラメータが漏れている、方の相違)

    statusは400(bad request)で返す。

となりそうですが、400時のエラーハンドリングはフロント側で考慮可能でしょうか？
難しい場合は、自前でValidation処理を用意します。

[2018-01-21 07:39] ikkyu-3 commented on #40
可能という認識です。通信時は、try-catchで処理すれば拾えるかと思います。

[2018-01-21 07:43] ikkyu-3 commented on #36
図ができました。

wikiの追加箇所に関して、認識合わせができたらアップします。

[2018-01-21 07:44] krhrtky commented on #40
確認ありがとうございます！
ひとつ気になったのは、Ajaxは何を使って実装しますか(fetch, axios等)

fetch使う場合には、4xx,5xxでもcatchされなさそうです。
http://blog.mudatobunka.org/entry/2016/04/26/092518

[2018-01-21 07:58] ikkyu-3 commented on #40
情報ありがとう！

[SuperAgent](https://github.com/visionmedia/superagent)をつかう予定でいます。
fetchではなかったと思いますが、少し考慮が必要ですかね。

[2018-01-21 13:35] ghost commented on #36
@ikkyu-3
利用者向けの画面遷移図でしょうか？

それでしたらHomeよりも、uiの方が適切かなと思います。

https://github.com/hr-js/sta_access_manager/wiki/ui

[2018-01-21 14:46] ikkyu-3 commented on #36
@kakaka19

遷移図ではなく、Google Driveの入室管理システム / そのほかディレクトにある画像ファイルです。
説明が下手くそでした。すいません。

とのことだったので、図にしました。

ですね。uiに追加します。ありがとう

[2018-01-22 14:07] ikkyu-3 commented on #36
@kakaka19 @krhrtky
uiに追加しました。
https://github.com/hr-js/sta_access_manager/wiki/ui

closeするタイミングの相談なんですが、

1. 追加してclose
1. 誰かに確認してもらってからclose

どれがよさそうですかね？
2の方がいいかなって個人的に思っています。

[2018-01-22 14:48] ikkyu-3 opened #41 "URLを設計(SPA)"
SPAでルーティングするため、URLを決める必要がある。
URLは、apiのURLを参考に決める。

[2018-01-22 14:54] krhrtky commented on #34
実施済み。
クローズします。
その他、不明点があれば個別対応とします。

[2018-01-22 14:54] #34 closed

[2018-01-22 14:58] ghost commented on #39
@ikkyu-3
そもそも、みたいな感じになって恐縮なのですが....
レスポンスのbodyに処理の成否を入れるのは画面側での判断が行い辛くないでしょうか？

[ユーザ登録](https://github.com/hr-js/sta_access_manager/wiki/api#%E3%83%A6%E3%83%BC%E3%82%B6%E7%99%BB%E9%8C%B2)を例にとりますが、

statuscode:200で4つの分岐が発生します。若干憶測が混じってますが...
- result :true
    - -> ICカード登録画面へ
- reslut:false
     - -> message:0
         - -> 不正なIDなのでエラー画面へ
     - -> message:1
         - -> 登録済みだが有効なIDなのでICカード登録画面へ？

[2018-01-22 15:06] krhrtky commented on #36
@ikkyu-3
完了する基準が必要だと思うので、２で良いと思います。
２の確認する基準を明確にしておくと、行き違い・手戻りがなくなるんじゃないでしょうか。

### 例

1. 写真を図にしたものに抜け漏れがないか確認する

1. レビュアー(フロント実装者を想定)がアーキテクチャとライブラリの大まかに理解できる。

1. 共有している画像ファイルとWikiの内容の対応関係を把握する。

等

[2018-01-22 15:07] ghost commented on #36
@ikkyu-3 @krhrtky

自分も2でいいと思います!

ドキュメントの運用/更新ポリシーも用意しなきゃ...

[2018-01-22 15:26] krhrtky commented on #39
@ikkyu-3
@kakaka19 のステータスコードで分岐の方向のほうがいいかと思います。

- `result` の意味を考える必要が減る。

- 正常に処理した場合でも失敗と判断するケース(上記、登録済み 等)もエラーであると考えたほうがわかりやすい。

[MDN status codes](https://developer.mozilla.org/ja/docs/Web/HTTP/Status) 参照

一方で厳密に↑の方法で定義できるかという部分もあります。

例えば、複数のエラーが有ることを表現したいときです。

その場合は、`result` のvalueをbooleanではなく、enumのようなもの(jsにenumがないため)を定義して、判定する必要があると思います。

どちらにせよ`message` に0/1が入るのは違和感かなと

[2018-01-22 15:26] ghost opened #42 "ドキュメントの運用ポリシーを定める"
目的
---
ドキュメントの運用ポリシーを作成し、[wiki](https://github.com/hr-js/sta_access_manager/wiki)に記載する。

背景
---
ドキュメントの運用を、githubのwikiで行うことが決定した。#35
よって以下のことを定める。
- 記載してはいけないもの。
- 仕様/設計などのレビューフロー

ゴール
---

- [x] wikiに記載してはいけないものを明文化する
- [x] ドキュメント更新の際のフローを明文化する
- [x] 上記の二つに関してレビューを受け、項目の過不足を修正する
- [ ] 制定したポリシーをwikiに記載する

[2018-01-22 15:28] ghost commented on #35
githubのwikiで運用することが決まったのでクローズします!

運用ポリシー/更新フロー等は#42 で検討します。

[2018-01-22 15:32] krhrtky commented on #40
確認ありがとうございます。
SuperAgentのリンクをみたところ
[code]
となっていて、`end` メソッドが処理になるかと思われます。
これを見る限り `err` でハンドリングしていそうですね。

[2018-01-22 15:42] ikkyu-3 commented on #39
@kakaka19 @krhrtky
意見ありがとう。業務の癖が・・・

ifやswitchで条件分岐させるので、行い辛いって感じはないです。
ただ、bodyのデータ構造が深かったり、複雑であると辛いなって思います。

これいいですね。
200で登録(body=nameあり)
204で登録済み(responseのbodyなし)

不正なIDは400系ですかね。。

一応少し気になって調べて見ました。
[WebAPIでエラーをどう表現すべき？15のサービスを調査してみた - Qiita](https://qiita.com/suin/items/f7ac4de914e9f3f35884)

オブジェクトを返してるっぽい。詳細な情報が必要だからってことなんだろうと判断はできるので、
これを真似る必要はなさそうですね。

賛成です。無理に同じオブジェクトの構造を適用しようとしたからこうなってしま

[2018-01-22 15:44] krhrtky commented on #5
ESはAPIサーバに移ったのでここで管理は不要と考えますが、いかがでしょう？

[2018-01-22 15:45] ikkyu-3 commented on #36
これが発生するのは、避けたいです。

では、ドキュメントの運用/更新ポリシーを決めてから、closeします。

[2018-01-22 15:48] ikkyu-3 commented on #5
その認識です。対応しないですね。closeします。

[2018-01-22 15:48] #5 closed

[2018-01-22 15:48] krhrtky commented on #38
@ikkyu-3
すみません。現状の担当があまり把握できてません。

あと、個人によってスタート時点と業務その他の兼ね合いだったり、
モチベーション等々に変化があると思うので、
必要であれば先に割り振りの見直しもしておいて方が、いいのかなと感じました。

[2018-01-22 15:49] ghost commented on #39
@ikkyu-3
@krhrtky

一方で厳密に↑の方法で定義できるかという部分もあります。
例えば、複数のエラーが有ることを表現したいときです。
その場合は、result のvalueをbooleanではなく、enumのようなもの(jsにenumがないため)を定義して、判定する必要があると思います。

この辺、好みかもしれないんですが、複数のエラーが存在することをフロントサイドに通知する必要があるか疑問です。例えば500番台のエラーを利用者/管理者に通知しても対処の仕様がないですし。API側でログとして出力。もしくは通知をslackに投げるとかすれば十分な気もします。

むしろ、新規登録/登録済み(status code:200番台)の場合に活用できそうな。以下みたいに。
[code]

あと自分が https://github.com/hr-js/sta_access_manager

[2018-01-22 15:55] krhrtky commented on #39
@ikkyu-3
指摘してくれた部分はたしかにそうだね。

自分が意識したのは、Vlaidationエラーみたいに何がダメだったのかをユーザーが知る必要があると思ったこと、なので今回の開発でって言うスコープで話せてなかったと思う、ぶれた。

[2018-01-22 15:55] ikkyu-3 commented on #38
@krhrtky

たしかに。
振り直します。少し時間かかってしまうかもしれないがお待ちください。

[2018-01-22 15:59] ikkyu-3 commented on #39
ケースバイケースってやつですかね。。

一旦自分の方で再定義した草案を作ってもいいですか？

[2018-01-22 16:06] ghost commented on #39
@ikkyu-3

status codeで分岐だとAPI側としてもありがたいです。`result`の値で迷いそうなので。

自分がやってみてもいいですか？変更はあまり大きくならないと思うので、明日の夜にはできると思います。レビューはお願いしたいですが。

[2018-01-22 16:10] ikkyu-3 commented on #39
お互いがベストな方法がわかってよかったです！

はい、お願いします。ありがとう。
レビューします！

[2018-01-23 04:43] ikkyu-3 opened #43 "ユーザのマスターデータに関して"
当初は外部ファイルをと考えておりましたが、なんやかんやで自分たちで作ってしまったほうが楽そうです。

なので、現在選択肢として、
1. こちらで外部ファイルを作成する
1. 外部ファイル作成せず、DBで管理する
1. なんやかんやを解決する

があげられるかなと考えてます。

自分的には、わざわざファイルを作る必要がないと思って、2がいいなって思ってます。
意見などあれば、よろしくお願いします。

[2018-01-23 16:29] ghost commented on #39
APIの草案できました。#43 の話もあるので、一旦ユーザIDでの登録処理などは外しました。

レスポンスの概要は以下の通りです。

|status|response|
|---|---|
|200|正常系|
|500|サーバ側での異常が発生。共通のレスポンスを返す|
|400|Bad Request。登録処理ですでに登録済みの場合のみ発生。|

想定している利用者のアクティビティは以下の通りです。

__初めての利用する場合__

3と4は一緒にできそうな感

1. ユーザ登録を行う。
1. ICカードの登録を行う。
1. 入室処理を行う
1. 退室処理を行う

__２回目以降利用する場合__

1. 入室処理を行う
1. 退室処理を行う

### 処理失敗(共通)

status: 500

[code]

### ユーザ登録

__I/O__

| name   | value  |

[2018-01-23 16:35] ghost commented on #39
データ型に関しては`()`で明示されていない値以外はstringです。

[2018-01-23 16:46] ghost commented on #43
@ikkyu-3

自分たちでuseridと名前を紐づけたマスターテーブルを作成するってことでしょうか？

[2018-01-23 16:50] ikkyu-3 commented on #39
@kakaka19
草案ありがとう！データ構造もシンプルですし、フロント側の処理もしやすいです。
見落としなど問題はなさそうです。

すいません１点だけ、
細かいことなんですが、**集計 / 一覧取得成功**の"isEntry"の値ってbooleanかなと思うので、修正お願いしてもいいでしょうか？

よろしくお願いします。

[2018-01-23 16:52] ghost commented on #39
@ikkyu-3

細かいことなんですが、集計 / 一覧取得成功の"isEntry"の値ってbooleanかなと思うので、修正お願いしてもいいでしょうか？

booleanですね。記載漏れてました...修正します。

[2018-01-23 16:56] ikkyu-3 commented on #43
@kakaka19
そうなります。2は、マスターテーブルを作る認識であっています。

[2018-01-23 17:01] ikkyu-3 opened #44 "【モック】TOP画面(待ち受け)の作成"
## モック作成
TOP画面(待ち受け)の作成をお願いします。

### 目標
画面を作成して、
ボタンを押して各画面名のアラートを表示するところまでとします。

[2018-01-23 17:05] ikkyu-3 opened #45 "【モック】ユーザ未登録表示画面の作成"
## モック作成
ユーザ未登録表示画面の作成。

### 問題点
戻るボタン or ユーザ登録ボタンを追加する必要があります。

### 目標
画面を作成して、
~~もどるボタンを押してアラートを表示するところまでとします。~~ アラート表示は実装しない。

[2018-01-23 17:06] ghost commented on #43
@ikkyu-3

わかりました。そうなると、DB作成の為にuseridと名前をセットで取得できるリソースが必要になりますね。（案1でもそうなりますが。）

自分としてはICカードIDと名前を紐づければ、利用者登録時に動的にDBにインサートしていけるかなと思っていたんですが、夜も更けてきましたので、明日、考えをまとめてコメントします。

[2018-01-23 17:11] ikkyu-3 opened #46 "【モック】入退室処理失敗画面の作成"
## モック作成
入退室処理失敗画面の作成。

### 目標
画面を作成して、
~~タンを押してTOP画面とアラートを表示するところまでとします。~~ アラート表示は実装しない。

[2018-01-23 17:14] ikkyu-3 commented on #32
### 目標
- 一覧の表示(表はスクロール)
- ボタンを押すとTOP画面とアラートを表示する

[2018-01-23 17:20] ikkyu-3 opened #47 "【モック】目的選択後画面の作成"
## モック作成
目的選択後の画面作成をお願いします。

### 目標
- 勉強会
- 仕事
- 自習
- 遊び
の４画面を作成し、

各TOP画面にもどるボタンを作成する。ボタンを押下すると「TOP画面へ」とアラートを表示するところまでとします。

[2018-01-23 17:23] ikkyu-3 opened #48 "【モック】退出時の表示画面の作成"
## モック作成
退出処理後の画面作成をお願いします。(現在作成されてないのでデザインも作成)

### 目標
画面を作成し、TOP画面に戻るボタンを作成する。
~~ボタンを押下すると「TOP画面へ」とアラートを表示するところまでとします。~~ アラート表示は実装しない。

[2018-01-23 17:25] ikkyu-3 opened #49 "【モック】登録時のカード読み取り待機画面の作成"
## モック作成
登録時のカード読み取り待機画面の作成

### 目標
画面を作成する

[2018-01-23 17:27] ikkyu-3 opened #50 "【モック】ユーザ登録中画面の作成"
## モック作成
ユーザ登録中画面の作成

### 目標
画面を作成する

[2018-01-23 17:28] ikkyu-3 opened #51 "【モック】ユーザ登録完了画面の作成"
## モック作成
ユーザ登録完了画面の作成

### 目標
画面を作成する。
~~ボタンを押してTOP画面とアラートを表示するところまでとします。~~ アラート表示は実装しない。

[2018-01-23 17:29] ikkyu-3 opened #52 "【モック】ユーザ登録失敗画面の作成"
## モック作成
ユーザ登録失敗画面の作成

### 目標
画面を作成する。
~~ボタンを押してTOP画面とアラートを表示するところまでとします。~~ アラート表示は実装しない。

[2018-01-23 17:32] ikkyu-3 commented on #25
画面ごとにissueを作成しました。今後はそちらで対応します。
よって、このissueはcloseさせてもらいます。

[2018-01-23 17:32] #25 closed

[2018-01-23 17:37] ikkyu-3 commented on #38
- 現在の担当の振り直し
- モック画面作成のissue作成

を行いました。
**Assignee**で絞ってもらえるとわかりやすいかと思います。

残りは、もう少しお待ちください。ほとんど自分のissueです、、、

[2018-01-24 12:02] krhrtky commented on #39
@ikkyu-3
作成ありがとう！
概ねいいんじゃないかと。
細かいところで2つ気になったところがあったけど、決めの問題だと思ってる。

1. entry/out だと対義語になってない気がした。

    => 正直わかればいいでしょとも思ってる。

1. `porpose` が文字列でそのまま入ると集計しづらそう(集計するとはいっていない)

    => 文字列ベタ打ちだと汎用性がないかなと思った。

こんなところです。

[2018-01-24 13:08] ghost commented on #39
@krhrtky

=> 正直わかればいいでしょとも思ってる。

調べたら`exit`だった。こっちの方が良さげすね。

集計はロジックをフロント/サーバ側で持つわけじゃなくて、Elasticsearchにクエリ投げれば返してくれるから、そこまで難しくならないと思う。

1 = 勉強会
2 = 自学習
3 = その他

みたいに、数値で返すことも考えたけど、逆にその方が大変かなと。

あと、一応このissueでは利用者向け機能に関するI/Oに限定して考えてる。管理者向け機能にI/Oに関しては、仕様を相談しつつ決めて行った方がいいかなーと思ってる。

[2018-01-24 13:11] ghost commented on #39
あと俺のアカウントは@kakaka19っす！k始まり多くてうけるね。

[2018-01-24 14:35] ghost commented on #43
@ikkyu-3
@krhrtky

ちょっと考えをまとめてみました。

齟齬があるかもしれないので、背景も書いてみました。

## 背景

ユーザIDと個人名が紐づいたデータが他部署からもらえると思っていたが、セキュリティ的に厳しそうだし、時間もかかりそうな為、自分たちで用意したい。

焦点として __ID(一意な情報)を何にするか__ があると思います。

### 案1

ユーザIDを一意とする場合。

インデックス構成例

|ユーザID|名前|
|---|---|
|123456789|土曜開放　太郎|

[code]
__メリット__

- ユーザ登録時、ユーザID入力のみで登録ができる。
- __名前を入力させなくて済むため、入力ミス/管理者の意図しない名称(あだ名など)での登録を防げる__

__デメリット__

- __運用前にインデックスを用意しなければならない為、以下のタ

[2018-01-24 15:08] ghost commented on #38
@ikkyu-3
@krhrtky

スケジュールに関してなのですが、フロントサイドは関わる開発メンバーが多いので、Milestoneで管理してはどうでしょう。

一定の期間(2週間ごと)のMilestoneを作成しましたので、Developmentに入っているissueに関しては、とりあえず1st iterationに全て移し、そこから開発メンバー各々で実装完了できる期間に移して貰うっていうのはどうでしょうか。slackでも周知しますが。

[2018-01-24 17:00] ikkyu-3 commented on #43
@kakaka19
ありがとうございます。結構難しい問題ですね。
思ったことまとめました。

### 案1
やはり**運用前にインデックス**が問題ですね。
メリットが大きく、利用しやすいってのが売りですが、デメリットの

が気になりました。デメリットも大きいように思えます。

### 案2

提案なんですが、
ここをある程度許容すれば(**利用者は意図しない入力をしないということを前提とする**)、現実性があるように感じます。理由としては、
1. 不特定多数向けのサービスではない
1. 現在の紙媒体の入力状況を考慮

一応こちら側でできる対応として、
- 入力する前に、注意喚起
- 確認画面による入力ミスの防止

など、**防ぎにくくする**ことは可能じゃないかなとという認識です。
名前の修正方法を考慮する必要がありますが、、

同期させることは可能です。Reduxのstoreで管理すれ

[2018-01-24 17:04] ikkyu-3 commented on #39
賛成です。意識してなかった、英語力ほしい。。

**porposeの種類**は
- 勉強会
- 自習
- 仕事
- 遊び

以上の４つで、モック作成をしています。

[2018-01-24 17:12] ikkyu-3 commented on #40
ですね！

[SuperAgent — elegant API for AJAX in Node and browsers](https://visionmedia.github.io/superagent/)

ここみると、エラーハンドリングの方法が紹介されてますね。
`err` オブジェクトにstatusがあるみたいです。

テストしてみたほうがいいと思いますが、
現状では、

**400時のエラーハンドリングはフロント側で考慮可能**

と考えていいかと思います。

[2018-01-24 17:16] ikkyu-3 commented on #38
賛成です！提案ありがとう。一定期間ごとの方がいいですね。
ちょっと長いスパンだったなと思います。

[2018-01-27 01:30] ghost commented on #43
@ikkyu-3

現在の紙媒体の入力状況を考慮
一応こちら側でできる対応として、
入力する前に、注意喚起
確認画面による入力ミスの防止
など、防ぎにくくすることは可能じゃないかなとという認識です。
名前の修正方法を考慮する必要がありますが、、

現時的なのは案２ですね。修正方法はユーザ(ICカード)更新機能で提供できるかと思います。

案2に賛成です。
まだ考慮必要かと思いますが、どうでしょうか？

後から`やっぱり案1にしよう!`となっても移行はそれほど難しくないので、当座は案2で進めていくのはどうでしょう。

[2018-01-27 01:46] ghost commented on #38
@ikkyu-3

スパンが長いのは問題ないのですが、Milestoneを使うことで以下の課題が解決できると思っています。

- 誰がなんのissueを __いつまで__ にやるのか明確になる。
- 期間内にissueが達成できた/できなかったが共有できる。
    - 達成できなかった場合、周りがサポートを申し出ることができる、もしくはリスケできる。

[2018-01-27 02:22] ghost commented on #39
@ikkyu-3
@krhrtky

おふた方の指摘を反映して、wikiにアップしました!

https://github.com/hr-js/sta_access_manager/wiki/api

[2018-01-27 05:12] ghost commented on #12
適宜使うことを検討するのでクローズ

[2018-01-27 05:12] #12 closed

[2018-01-27 07:37] ghost commented on #13
都度検討する

[2018-01-27 07:37] #13 closed

[2018-01-27 07:37] ghost commented on #15
都度issueにして検討する

[2018-01-27 07:37] #15 closed

[2018-01-27 07:40] ghost commented on #22
最新バージョンnode.js v9.4.0に決定

[2018-01-27 07:40] #22 closed

[2018-01-27 08:07] #36 closed, assigned to ikkyu-3, krhrtky

[2018-01-27 08:09] ghost commented on #39
wikiにあげたのでクローズ

[2018-01-27 08:09] #39 closed, assigned to ikkyu-3, krhrtky

[2018-01-27 08:11] ghost commented on #40
解決したようなのでClose

[2018-01-27 08:11] #40 closed, assigned to ikkyu-3, krhrtky

[2018-01-27 08:11] ikkyu-3 commented on #41
[フロント用のURL一覧](https://github.com/hr-js/sta_access_manager/wiki/%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E7%94%A8%E3%81%AEURL%E4%B8%80%E8%A6%A7)

wikiに作成しました。

[2018-01-27 08:12] ikkyu-3 commented on #41
随時修正があれば変更していく。

[2018-01-27 08:17] ikkyu-3 commented on #41
リアクションありがとうございます。
確認とれたのでcloseします。

[2018-01-27 08:17] #41 closed, assigned to ikkyu-3, nekonogeboku, minako-nakanishi, Tchikawa

[2018-01-27 08:18] ghost commented on #42
追加

レビューが必要/共有事項がある場合は、関係者をAsigneeに追加する

[2018-01-27 08:21] ikkyu-3 commented on #43
それでいきましょう！！

[2018-01-27 08:29] krhrtky commented on #43
@kakaka19 @ikkyu-3
案2で良いと思います。

[2018-01-27 08:29] ghost commented on #43
案2でいくのでClose

[2018-01-27 08:31] ikkyu-3 commented on #38
Milestoneで使用しでいく方法で行きましょう！

[2018-01-27 09:12] ikkyu-3 opened #53 "【モック】テンプレートの作成"
部分的に作成する画面もあるので、テンプレートを用意する必要がある。

[2018-01-28 07:27] ikkyu-3 commented on #53
テンプレート作成しました。

@tankette148 @Tchikawa @minako-nakanishi
適用できない画面もありますが、こちらをテンプレートとして使用してみてください。

[2018-01-28 07:27] #53 closed, assigned to ikkyu-3, nekonogeboku, minako-nakanishi, Tchikawa

[2018-01-28 08:27] ikkyu-3 commented on #31
## 目標
モックを作成後、番号を押したらテキストボックスに番号を表示するところまでで大丈夫です!

[2018-01-28 08:33] minako-nakanishi commented on #31
承りました！

[2018-01-28 14:43] minako-nakanishi commented on #31
番号ボタンの配置でtableタグを使おうかと思っているのですが、tableタグっであまり使わない方が良いんでしたっけ？
Pタグでも良いかなと思ってはいるのですが。。

[2018-01-29 11:31] ikkyu-3 commented on #31
Pタグでも良いかなと思ってはいるのですが。。

pかtableかというと、pは使わないですね。↓ここみると、使用しないかなと、、、
[p 要素 - HTML | MDN](https://developer.mozilla.org/ja/docs/Web/HTML/Element/p)

グリッドレイアウトを使うときれいに配置できると思います。
[CSS グリッドレイアウト - CSS | MDN](https://developer.mozilla.org/ja/docs/Web/CSS/CSS_Grid_Layout)

グリッドレイアウトって検索するとわかりやすく説明してくれてるサイトいっぱいあるので、
一度検索してみてください。

[2018-01-29 11:42] minako-nakanishi commented on #31
ありがとうございます！

[2018-01-29 16:41] Tchikawa commented on #44
@ikkyu-3
ボタンの作成と、ボタンのサイズ調整をしました。
お時間ある時にレビューをお願いいたします。
https://github.com/Tchikawa/html_test/tree/master/index

[2018-01-29 17:31] ikkyu-3 commented on #44
@Tchikawa
作成ありがとう！
レビューします。少々おまちを

[2018-01-29 17:34] ikkyu-3 commented on #44
@Tchikawa
補足です。この画面はテンプレートが使用できる画面ですが、
適用しなくて大丈夫です。後出しで作ったテンプレートなので、、、

[2018-01-30 15:44] ikkyu-3 commented on #31
[ユーザのマスターデータに関して](https://github.com/hr-js/sta_access_manager/issues/43)
案2を採用することになったので、こちらのモックは作成しないことに変更します。

よってcloseします。

[2018-01-30 15:44] #31 closed

[2018-01-30 15:57] ikkyu-3 opened #54 "【モック】ユーザネーム入力画面の作成"
### 背景
[ユーザのマスターデータに関して](https://github.com/hr-js/sta_access_manager/issues/43)
~~案2を採用するので~~
「ユーザID入力」 => 「ユーザネーム入力」に変更となりました。
【追記】
案3を採用することに変更しました。
それに伴い、新規でユーザネーム入力画面の作成が必要となりました。

### 入力方法
**キーボードで入力してもらう**予定です。

### 作成手順
1. 画面デザインを作成
1. モックを作成

以下のような手順で作成します。
この機能が欲しいなど提案あれば、相談しましょう。

[2018-01-31 12:07] ikkyu-3 commented on #32
Mergedしたので、closeします！

[2018-01-31 12:07] #32 closed

[2018-01-31 13:52] ghost commented on #43
メールアドレスに関して意見が出ましたので、一旦整理してみます。

まず、本issueでユーザインデックスのマッピングが以下(案2)で決定しました

__ICカードIDを一意とする__

インデックス構成例

| カードID      | 名前          |
| ---------- | ------------- |
| 1a2b3b4c5d | 土曜開放　太郎 |

[code]

上記のマッピングでは以下の欠点があります。

- `name`の重複が起こった場合、利用者/管理者が画面上で識別が行えない。
    - 利用者は入室時間などから自身を特定できるが、管理者は`Aさん`と`A'さん`を判別できない。

管理者が識別できる情報がないのは結構痛いかも。

しかし、前提として`利用者が限定される`というのがありますので、そもそも重複が起こりえない可能性もあります。また、社内S

[2018-01-31 16:13] ikkyu-3 commented on #43
ユーザIDでも、メールアドレスの代わりができそうなのですが、そこはどうでしょう？
違いは
- 入力数はユーザIDが少ないです。

ってぐらいでしょうか。。欠点を解決するという視点でいうと、このぐらいしか、、

案3でもいいように思えます。今後のデータの活用(拡張的な意味で)とかで決めちゃいたいですね。
その辺はあまり得意な分野ではないので、意見もらえると嬉しいです。

[2018-01-31 16:21] ghost commented on #43
利用者が限定的だという前提があるので、他で活用できるほど汎用性のあるデータは収集できないと思います。

[2018-01-31 16:40] ikkyu-3 commented on #43
なるほど。ありがとうございます。

では、
**入力するユーザ視点で考えてみました。**

現在想定している、入力ハードは、テンキーなしのキーボードです。
ユーザIDは数字のみ、メールアドレスは半角英文字 + 「.」

と考えると、メールアドレスがいいかなって思います。
主観的な意見で恐縮なのですが、

ということで、案3でいくのはどうでしょうか？

[2018-02-01 16:30] ikkyu-3 opened #56 "【モック】メールアドレス入力画面の作成"
### 背景
[ユーザのマスターデータに関して](https://github.com/hr-js/sta_access_manager/issues/43)
案3を採用するので
新規でメールアドレス入力画面の作成が必要となりました。

### 入力方法
ユーザネーム入力画面同様に
**キーボードで入力してもらう**
予定です。

### 作成手順
1. 画面デザインを作成
1. モックを作成

以下のような手順で作成します。
この機能が欲しいなど提案あれば、相談して決めます。

[2018-02-03 05:38] ikkyu-3 opened #57 "目的の選択肢についての提案"
### 現在の目的一覧
- 勉強会
- 仕事
- 遊び
- 自習

### 提案内容
「遊び」  =>  「サークル」

**サークル目的で使用する可能性がある**かなって思いまして、提案しました。
影響範囲は、URLの変更とモック、サーバは影響範囲なしです。

よろしくお願いします。

[2018-02-03 05:45] minako-nakanishi commented on #52
吹き出しはCSSで作成するのでしょうか？

[2018-02-03 05:48] Tchikawa commented on #57
いいと思います！！
[メモ]
・選択画面変更
・選択後画面変更
・人形のイラスト変更
・選択画面の設計書修正
・選択後画面の設計書修正

[2018-02-03 05:49] ikkyu-3 commented on #52
はい、cssで作成お願いします。

**`css バルーン表示`** で検索するといいかもです。

[2018-02-03 07:01] ikkyu-3 commented on #57
サークルに変更します。

[2018-02-03 07:08] ghost commented on #57
サークル活動の方がいいんじゃないですが？

[2018-02-03 08:14] ikkyu-3 opened #58 "ラズパイの起動時のシェルを作成"
## 起動したらアプリケーションが使える状態にしたい
+ nodeを起動
+ curlコマンドで起動確認
+ Chromiumをフルスクリーン起動させて、アプリにアクセス

の順にシェルを作成してください。

OSは、Ubuntu: 17.04でもおkです。お任せします。

【追記】
## 終了するsh(必須ではない)
### 目的
**ラズパイのshutdownまで**とします。

イメージ的には、起動時と逆のプロセスで終了処理を行う感じです(いろいろ考慮などする必要あり)

[2018-02-03 08:56] Tchikawa opened #59 "[モック] 退室時の画面作成"
作ってなかったので、退室時の画面を作成する。
なる早！！

[2018-02-03 10:47] minako-nakanishi commented on #59
#48 と被ってない？

[2018-02-03 14:54] ikkyu-3 commented on #59
まじた！すいません。closeします！

[2018-02-03 14:54] #59 closed, assigned to Tchikawa

[2018-02-04 07:04] Tchikawa commented on #24
設計が完了したためcloseします。

[2018-02-04 07:04] #24 closed

[2018-02-04 07:05] Tchikawa commented on #47
マージしたため、closeします。

[2018-02-04 07:05] #47 closed, assigned to Tchikawa

[2018-02-04 07:07] Tchikawa commented on #33
マージが完了したためcloseします

[2018-02-04 07:07] #33 closed

[2018-02-04 07:08] Tchikawa commented on #44
マージが完了したためcloseします

[2018-02-04 07:08] #44 closed, assigned to Tchikawa

[2018-02-04 07:26] krhrtky opened #62 "[2/4中必須]1st itelation の進捗状況確認"
## 目的

- 1/27にMilestoneに各自のissueを割り振った

- 各Itelationは２週間単位のMilestoneになるため、進捗を1週終了後に実施を決定

- まず、[1st Itelation](https://github.com/hr-js/sta_access_manager/milestone/3) について状況確認をしたい

## 確認項目

- 各自の進捗率(%)

- 完了目処

- タスクの消化が難しい場合のヘッジ方法(Milestoneの変更、Assigneesの変更 等)

- その他問題等

各自の状況について共有をお願いします。

Slackでのやり取り・決定事項も流れてしまうので、こちらに改めて残すようにしてください、

[2018-02-04 07:35] ikkyu-3 opened #63 "【Rasberry Pi側】wikiページ作成"
## 作成するもの
- 画面遷移図
- 各画面設計
    - 画面名
    - モック画面のキャプチャ
    - ~~機能(あれば)~~
    - 処理の説明やイベント(クリックなど)の説明

[2018-02-04 07:36] nekonogeboku opened #64 "【画面設計】管理画面の画面設計"
管理者画面の画面設計を行う

[2018-02-04 07:37] ghost commented on #62
elasticsearchとの接続モジュール実装中です。イテレーション内で完了予定。

[2018-02-04 07:40] ikkyu-3 commented on #57
他の目的の文字数との差を小さくしたいという考えが実はありまして。。。

[2018-02-04 07:43] krhrtky commented on #57
@ikkyu-3
ふと思いましたが、

勉強のほうがよくないですか？普通に勉強しに来てる人もいると思うし。

[2018-02-04 07:43] Tchikawa commented on #62
モック4/13画面完了(30%)です。今日+2画面作成予定です。(50%)
オンスケです。

[2018-02-04 07:46] ikkyu-3 commented on #62
【Rasberry Pi側】wikiページ作成中です。
- 進捗率：80%(気持ちは2%)
- 完了目処：画像はモックが完成したらになりますが、他の情報は記述しておくので終わる見込みです。
- 問題：特になし

[2018-02-04 08:19] Tchikawa opened #65 "[モック] 背景の色を決める"
それぞれの画面の背景色を決める。
急ぎでない

[2018-02-04 08:40] nekonogeboku commented on #62
進捗率：50%
・画面設計機能草案作成済(ラフ)
残：今週中にまとめ→レビュー
今週中にレビューまで終了予定です。

[2018-02-04 08:43] nekonogeboku commented on #64
画面設計手順
1. 自身で設計(ラフ)
1. まとめ
1.  初回レビュー

上記終了時にこのissueをcloseする

[2018-02-04 14:31] Tchikawa commented on #52
[メモ]プルリク投げてる中です

[2018-02-04 14:32] Tchikawa commented on #50
[メモ]プルリク投げてる中です

[2018-02-04 14:32] Tchikawa commented on #49
[メモ]プルリク投げてる中です

[2018-02-04 14:34] Tchikawa commented on #51
[メモ]プルリク投げてる中です

[2018-02-04 15:17] krhrtky commented on #58
@yumtana2
## Vagrant の環境設定

### GUI(desktop)を有効にする

- 下記の記事を参考に設定

    [Vagrant + Ubuntu](https://qiita.com/mhagita/items/8f339106c3b48eb098ca)

    [Ubuntu destopのエラーの解消](https://teratail.com/questions/102552)

### 課題

- GUIで起動したがターミナルが起動しない。

    => 原因の確認中(もし、知っている人がいたら教えてほしいです)。

[2018-02-04 15:26] krhrtky commented on #62
回答ありがとうございます。

@kakaka19
APIサーバ側は今Milestoneとかやってないけど、やったほうがいいだろうか？
管理画面は @Tchikawa  が担当してくれるそうなので、人数も増えたら必要かなと思った。
やるならこちらのrepositryのItelationにいれるのでもいいかな。

みなさん
オンスケで進んでいて良かったです。
このあたりから2nd Itelationを意識していきましょう。

次のスプリントのタスクの重さに問題ないでしょうか？
前もって多いなと感じていたら、早めに相談しましょう。

[2018-02-04 15:57] ikkyu-3 commented on #57
@krhrtky

`勉強会 => 勉強` と変更すると、
`自習` と`勉強` の違いが曖昧になってしまい、選択する人が困ってしまう心配があります。

もし`勉強` に変更した方がいいなら、自習をやめて、新たに目的を追加したほうがいいかもなって思っています。

[2018-02-04 16:01] krhrtky commented on #57
@ikkyu-3
すいません、自習見落としてました。
スルーしてください。

[2018-02-04 16:10] ikkyu-3 commented on #57
@krhrtky
了解！

**現在の目的一覧**で、勉強会の下に自習って書いておけばよかったと思ってます。
一番下に書くのは、ちょっと自分の配慮足りてなかったかなって。
こちらも気をつけます！

[2018-02-04 16:50] krhrtky commented on #58
ちなみに終了するshのあったほうがいいのでは？
と思い始めました。

↑と逆の順序でプロセスを終了しいくようなイメージで最後はshutdownまでするとか

[2018-02-04 16:56] ikkyu-3 commented on #58
@krhrtky
いいアイディア！！
アプリ上でどうやってshの起動させて終了させるかは、他のissueでやるとして、
shutdownまでいけると、管理者の人は助かると思います。

必須ではないですが、お願いします。

[2018-02-04 17:02] krhrtky commented on #58
@ikkyu-3
issueの更新ありがとうございます。

@yumtana2 が担当が増えていい機会だとおもうので！
Italationはおって検討としたいです。

[2018-02-04 17:08] krhrtky commented on #58
## log

- [new branch](https://github.com/hr-js/sta_access_manager/tree/featuer/startup) 作成

- 俺なりのベースを作成(@yumtana2 はあえて見ないように)

## 課題

- error handling

- 各工程の実行方法

[2018-02-04 23:20] ghost commented on #62
@krhrtky

 人数少ないから必要ないかな。あってもいいけど、3人くらいなら直接やり取りした方が早い

[2018-02-04 23:47] minako-nakanishi commented on #62
私の担当していたチケットは不要となったので、今は無職です。

[2018-02-04 23:53] krhrtky commented on #62
@kakaka19  (cc: @Tchikawa )
了解！じゃあ口頭確認して、それをissueなりwikiに落とすカタチで！

@ikkyu-3
1st Itelationしか見てなかったんですけど、次のタスクって各々見えているんでしょうか？

2nd Itelationが始まってから考えるのも時間もったいないかなと思ったんですが。

[2018-02-05 00:06] krhrtky commented on #62
@minako-nakanishi
今後はどんな予定なんだろう。

例えば、Reactの実装に向けての準備とか？

[2018-02-05 04:47] ikkyu-3 commented on #62
@krhrtky

自分の今後の予定としては、
- 環境構築(あと少し)
- ラズパイ側(node.js)の実装
- ディレクトリ構造を決める
- モックからコンポーネントを設計していく
- Presentational Components作成(jsx)
- Container Components作成
- action作成
- reducer作成
- 非同期処理(saga)作成
- テスト

って感じで進めていく予定です。

@tankette148 の次のタスクに関しては、細かく本人と話し合って決めているので大丈夫。
@Tchikawa の次のタスクは、API側の管理者の予定でよかったんでしたっけ？なのでモックまでは把握しています。
@minako-nakanishi の次のタスクは、Presentational Components作成(jsx)してみる？って感じで話をしている段階

[2018-02-05 09:11] minako-nakanishi commented on #62
そもそもなんで、社員ID入力画面なくなったの？

[2018-02-05 11:49] ghost commented on #62
@minako-nakanishi
最初は多部署から社員ID+社員名のデータをもらおうと思っていたけど、セキュリティ的に難しくてもらえない＆もらうのに時間かかりそう

だから、ICカードID＋社員名+社内メールアドレスとかで管理することになった。ので、社員ID入力画面はなくなっちゃった。

[2018-02-05 12:00] minako-nakanishi commented on #62
@kakaka19
自分で入力するからデータもらわなくても良いんじゃないの？

[2018-02-05 12:11] ghost commented on #62
@minako-nakanishi

もともと、社員IDを入力させるのは社員名と紐づいているから便利だねって話だった。でも、社員IDと社員名が紐づいているデータをもらえるかわからなくなったから、社員IDを入力させるメリットもなくなった。

まぁここに色々な経緯が載ってるからみてみてよ。
https://github.com/hr-js/sta_access_manager/issues/43

[2018-02-05 13:17] ikkyu-3 opened #67 "Reactのキャッチアップ"
## 背景
今後の実装を考えると、Reactがわかる人が欲しい。

## 今後任せたいタスク
まずはPresentational Components作成(jsx)をお願いしたい。
他もできるならどんどんお任せします。

## このissueの目標
Reactの理解を深めて、実装できるようになってもらいたい。

## どうやってやるの？
- [QUICK START](https://reactjs.org/docs/hello-world.html)を一通りやる。
- 余力あればReactの本を読み切る。

期限内に終って余裕があれば、どんどん理解を深めてもらいたい。(FluxとかReduxとか)

## 不明点が出た場合、まず意識してもらいたいこと(これは必須ではなく、推奨)
1. 何がわからないか把握する(メモをとる)
1. 色々とググってみる
1. それでもわからない時、質問する(

[2018-02-05 13:23] ikkyu-3 commented on #57
`サークル` or `サークル活動` に関しては、

今後変更が容易に可能なので、暫定として`サークル` とさせてください。

すみませんがよろしくお願いします。

ということで、closeします。
ご意見ありがとうございました。

[2018-02-05 13:23] #57 closed, assigned to ikkyu-3, krhrtky, nekonogeboku, minako-nakanishi, Tchikawa

[2018-02-05 13:25] ikkyu-3 commented on #38
Milestoneで管理し運用がはじまったので、このissueをcloseします。

ご意見ありがとうございました。

[2018-02-05 13:25] #38 closed, assigned to ikkyu-3, krhrtky, nekonogeboku, toyoshimmer, minako-nakanishi, Tchikawa

[2018-02-05 13:29] minako-nakanishi commented on #67
勉強の進捗報告はここに書いた方が良いですか？

[2018-02-05 13:32] ikkyu-3 commented on #67
Slackでお願いします！

[2018-02-06 17:56] krhrtky commented on #58
## Vagrant の環境設定-続き

### 課題

- GUIで起動したがターミナルが起動しない。

    => localのターミナルで `vagrant up` -> `vagrant ssh` (culと同様の操作)で実行出来たのでsshで実行することとする。

[2018-02-07 01:17] yumtana2 opened #68 "Vagrant /ubuntu環境設定"
### 環境構築
- Vagrant / ubuntuの環境設定
 環境：Vagrant , Ubuntu17.04,
- Vagrant のGUI設定

### 親issue

- #58

[2018-02-07 14:08] yumtana2 commented on #68
https://github.com/hr-js/sta_access_manager/issues/58#issuecomment-362913999
実施中「Configuring grub-pc」の画面が出ず挫折。試したかったこともいまいち違ってて無念。

https://github.com/hr-js/sta_access_manager/issues/58#issuecomment-363508822
ちな、こっちはできてる気がします。

[2018-02-07 14:28] krhrtky commented on #68
@yumtana2
どんな画面が出るんだろう？
TerminalとVritual Box のキャプチャあったらみたい！

[2018-02-07 17:22] krhrtky commented on #62
確認用につきclose

[2018-02-08 14:50] yumtana2 commented on #68
パスワードがわからなくてログインできない問題が発生してます。
これ確認しようとしたらなかった…！
[Vagrant box ubuntu/xenial64 の ubuntuユーザ の passwordについて](https://qiita.com/TKR/items/f27271c963de0033f7ff)

[2018-02-08 22:54] Tchikawa commented on #56
レビューしていただく

[2018-02-08 22:55] Tchikawa commented on #54
レビューしていただく

[2018-02-08 22:56] Tchikawa commented on #48
レビューしていただく

[2018-02-08 23:00] krhrtky commented on #68
@yumtana2

username/Password : vagrant でログインできます。
#58 の記事↓参照
https://qiita.com/mhagita/items/8f339106c3b48eb098ca

[2018-02-09 14:02] ikkyu-3 commented on #63
@Tchikawa @tankette148 @minako-nakanishi @krhrtky @kakaka19 @yumtana2
Rasberry Pi側のwikiページ作成しました。確認してみてください。
何かあれば、ご意見よろしくお願いします。

今後変更など出てくるかと思いますが、随時更新していきます。

[2018-02-09 14:43] ikkyu-3 commented on #56
mergeしたのでcloseします。

[2018-02-09 14:43] #56 closed, assigned to Tchikawa

[2018-02-09 14:44] ikkyu-3 commented on #54
mergeしたのでcloseします。

[2018-02-09 14:44] #54 closed, assigned to ikkyu-3, Tchikawa

[2018-02-09 14:44] ikkyu-3 commented on #52
mergeしたのでcloseします。

[2018-02-09 14:44] #52 closed, assigned to Tchikawa

[2018-02-09 14:44] ikkyu-3 commented on #51
mergeしたのでcloseします。

[2018-02-09 14:44] #51 closed, assigned to Tchikawa

[2018-02-09 14:44] ikkyu-3 commented on #50
mergeしたのでcloseします。

[2018-02-09 14:44] #50 closed, assigned to Tchikawa

[2018-02-09 14:45] ikkyu-3 commented on #49
mergeしたのでcloseします。

[2018-02-09 14:45] #49 closed, assigned to Tchikawa

[2018-02-09 14:45] ikkyu-3 commented on #48
mergeしたのでcloseします。

[2018-02-09 14:45] #48 closed, assigned to Tchikawa

[2018-02-09 14:45] ikkyu-3 commented on #46
mergeしたのでcloseします。

[2018-02-09 14:45] #46 closed, assigned to Tchikawa

[2018-02-09 14:48] ikkyu-3 commented on #65
2nd iterationが終わるまでに、できれば決めていただきたいのですが、どうでしょうか。
3rd iterationから画面の実装を開始したいと考えてます。その辺相談できればと思っているので、よろしくお願いします。

[2018-02-09 16:01] ikkyu-3 commented on #63
共有が確認できたらcloseします。

[2018-02-09 17:39] nekonogeboku commented on #64
画面設計初回レビューまで完了。
レビューは @ikkyu-3 にしていだたきました。
こちらのissueはcloseします。

[2018-02-09 17:39] #64 closed, assigned to nekonogeboku

[2018-02-10 00:36] Tchikawa commented on #65
承知しました！！
ちょっときまっていて、原色がいいかなと思ってます！
・基本、green yellowでいいかなとおもってます。
・red、blue、yellow、pink、orange、deepskyblteらへんあとで割り振ります。

[2018-02-10 01:55] #62 closed, assigned to ikkyu-3, krhrtky, nekonogeboku, yumtana2, minako-nakanishi, Tchikawa

[2018-02-10 06:07] nekonogeboku opened #71 "[Back Office側]wikiの作成"
## 作成するもの
- 画面遷移図
- 各画面設計
    - 画面名
    - 機能
    - 処理の説明やイベント(クリックなど)の説明

[2018-02-10 06:44] ikkyu-3 commented on #63
## レビュー
- ユーザ登録した後に、待ち受けに遷移せず、目的選択画面に遷移させたほうがいい
- ICカードの読み取りエラーを考慮されていない
- 入力チェックを考慮する
- email, name入力画面一緒でいいのではないか？
- 色がチカチカしそう
- 登録はキャンセルボタンがほしい
- 入力確認のダイアログがみえた方がいい
- 登録画面は1urlで対応する方がいい
- エラーのURLは`機能名/error` にする
- スキャンしてサーバが入退室を判断する
- 入退室にスイッチを表示させると変更できると思ってしまうのではないか？
- 参加者一覧に、現在いる人と今日いた人を表示できるようにしたい

[2018-02-10 06:47] Tchikawa commented on #63
たしかに、Email、name一緒でいいですね...

[2018-02-10 06:47] ikkyu-3 commented on #63
- ラズパイで遷移できるモックを開発が必要

[2018-02-10 07:16] nekonogeboku commented on #71
- アーキテクチャ図
- ラフの整形
- 機能詳細
    - 絞り込み (更新/削除)
    - 検索

[2018-02-10 08:49] nekonogeboku opened #72 "[管理画面]画面作成へ向けて"
React実装へ向けて
- JavaScript本格入門(7章まで)

[2018-02-10 08:53] nekonogeboku commented on #71
#72 の優先度をあげます

[2018-02-10 08:55] nekonogeboku commented on #72
今後の実装のためこちらの優先度をあげます

[2018-02-10 08:55] ikkyu-3 opened #73 "【モック】モックアプリ作成"
## 背景
wikiのレビュー時に、実際に操作してみたいという要望があった。

## 目的
Raspberry Pi上で遷移ができるモックアプリを作成する。

[2018-02-11 05:30] ikkyu-3 commented on #37
mergeしたのでcloseします！

[2018-02-11 05:30] #37 closed, assigned to ikkyu-3

[2018-02-11 05:30] ikkyu-3 commented on #30
mergeしたのでcloseします！

[2018-02-11 05:30] #30 closed

[2018-02-11 05:30] ikkyu-3 commented on #28
mergeしたのでcloseします！

[2018-02-11 05:30] #28 closed

[2018-02-11 05:31] ikkyu-3 commented on #26
mergeしたのでcloseします！

[2018-02-11 05:31] #26 closed

[2018-02-11 05:37] ikkyu-3 opened #74 "ログの管理の検討"
## やりたいこと
- ログを取りたい。外部ファイル化
- サーバにファイルを送信(ftp?, 起動バッチで...)

[2018-02-11 09:31] ikkyu-3 commented on #63
[Raspberry Pi側](https://github.com/hr-js/sta_access_manager/wiki/Raspberry-Pi%E5%81%B4)

- 画面遷移図更新しました。

【モック】モックアプリ作成 #73
でまた変更となる可能性が高いため、画面遷移図更新までとします。

closeします。

[2018-02-11 09:31] #63 closed, assigned to ikkyu-3

[2018-02-12 05:31] ghost opened #75 "API側のエラーハンドリング"
### 目的
[Sam API](https://github.com/hr-js/sam_api_server)のエラー処理を検討する。

### 概要

現時点でstatus code:400(Bad request) に関してはハンドリングは決まっているが、500(Internal Server Error)は決まっていない。

### ゴール

- 500(Internal Server Error)エラーの扱いを決める
- エラーログの通知(Slack)を実現する

[2018-02-12 05:33] ghost opened #76 "APIログ管理"

[2018-02-12 09:50] ghost opened #77 "SAM_API結合試験"

[2018-02-12 09:50] nekonogeboku commented on #72
- 振り返り
 - 6章DOM操作〜

[2018-02-12 09:54] ikkyu-3 opened #78 "webpack-dev-server導入"
## 背景
Reactで開発する時に、`build -> ブラウザ更新` で作業する状態

## 目的
webpack-dev-server導入し、ソースファイルに変更があった場合、自動更新できるように設定する。

[2018-02-13 17:26] Tchikawa commented on #45
完了したのでclose...??

[2018-02-14 11:38] yumtana2 commented on #68
- ubuntuログイン
↓
- ubuntu内のFFを起動
↓
- macがフリーズ
↓
- @krhrtky :ヘルプ強制再起動でおｋ・ @tankette148 :スペック確認しろ・ @yumtana2  :8GBだわ、4GB なわけｗｗ
↓
- 強制終了後スペック確認
↓
- **無事4GB で爆死**←いまここ

[2018-02-14 12:31] nekonogeboku commented on #72
金曜日までに6章終了目指す

[2018-02-14 14:22] ikkyu-3 commented on #45
@Tchikawa

はい！確認したので、closeします。遅くなってしまって申し訳ない。
お疲れ様でした！

[2018-02-14 14:23] #45 closed, assigned to Tchikawa

[2018-02-15 04:14] Tchikawa opened #79 "[管理画面]サーバーサイドの実装に向けて"
・Node.js 超入門
　2章、3章、4章、5章1-3、7章

[2018-02-15 04:31] krhrtky commented on #79
@Tchikawa
## キャッチアップで意識してほしいこと

1. Node.jsの基本的な書き方

   ブラウザのjavascriptと異なる点(require, http, npm or yarn)

2. [Express](http://expressjs.com/ja/) (Node.jsのアプリケーションフレームワーク)の書き方

   Nodeでサーバサイドを作る時のデファクト

   今回使用する [Fastify](https://www.fastify.io/) も書き方は互換性があるので重要。

3. 調べても分からなかったら聞きましょう

   - 何がしたいことか

   - したいこととどう違うのか

   - どう調べたのか

   - どの辺りが原因っぽいのか

   をまとめてから聞くとGood

[2018-02-17 07:49] nekonogeboku opened #80 "[管理者側] APIの設計を行う"
- APIの設計つめる
 - @Tchikawa に共有

[2018-02-19 03:18] ikkyu-3 opened #81 "【ラズパイ】Chromiumのバージョンアップ(クリーンインストール)"
## 背景
Raspberry Pi上で遷移ができるモックアプリを作成(【モック】モックアプリ作成 #73)、
検証した際に `Grid Layout` が使用できないことが判明。

## 原因
バージョンが古かった。
- version ... 56.0.2924.84

[Chromium Blog: Chrome 57 Beta: CSS Grid Layout, Improved Add to Home screen, Media Session API](https://blog.chromium.org/2017/02/chrome-57-beta-css-grid-layout-improved.html)

57から対応でした。

## バージョンアップ
Grid Layoutを使用したいので、バージョンアップする。

優先度高で対応します。

[2018-02-21 08:53] ikkyu-3 commented on #81
## 案1 バージョンを指定する
[Chromium — Linux software in the Snap Store](https://snapcraft.io/chromium)
`sudo apt-get chromium=version` で最新のバージョンに更新する。

## 案2 Raspberry Piのアップデート
- `sudo apt-get update`, `sudo apt-get upgrade`でChromiumを更新したが、`56.0.2924.84`のまま
- Raspberry PiのアップデートでChromiumが更新されるか試す
### 参考URL
[Raspberry Piのアップデート | Yuka Life](https://yukaobu.wordpress.com/2017/05/01/raspi-update/)
[apt-get u

[2018-02-21 13:28] ghost commented on #76
#75 と若干重複しているのでクローズ

[2018-02-21 13:28] #76 closed, assigned to krhrtky

[2018-02-21 13:36] ghost commented on #80
APIの設計そのものよりも、どんな目的で何を書くかをまずは検討してほしい

- 何をするAPIか？
- 何のために書くのか？
    - 実装の共有をしやすくして、属人化を防ぐ
    - 記録として残しておく
    - 実装予定のものをドキュメントにして、他の人にレビューしてもらうためetc...
- 図は必要か?
    - シーケンス図とかはあると実装がわかりやすい。しかし手間。
- 文章だけで良いか?

[2018-02-21 13:38] ghost commented on #75
結局サーバ自体のモニタリングもしなければならなさげなので、[Sensu](https://sensuapp.org/)とかの統合監視ツールを採用してもいいかもしれない。

[2018-02-21 13:54] ghost commented on #42
## wikiに記載するべきではない情報
### 個人情報
- 氏名
- 社内メールアドレス
- 社員番号

## ドキュメント更新のフロー
1. 作成するドキュメントに関してのissueを作成する
    - 自身とレビュワーをAsigneeにする。見ておいてほしい人もAsigneeに追加する。
    - 最低限そのドキュメントを作成する __目的__ はdescriptionに記載しておく
1. issueのコメントにドキュメントを書いていく(wikiはブランチが切れないため)
1. レビューを受ける/内容を修正する。
    - wikiのどこに書いたら良いか迷ったらこの時点で相談する
1. wikiに内容を反映する。

[2018-02-21 13:55] ghost commented on #42
@ikkyu-3
@krhrtky

すっかり忘れていたこのissueを今更やりました。時間あるときにレビューお願いします。

[2018-02-21 13:59] ghost opened #82 "Dockerで開発環境を構築"
### 目的

APIが動作する環境をローカルに構築する

### 概要
ローカルPC(Mac OSX)で動作する環境を作成し、個人開発環境を構築する。

### ゴール
- MacOSXでAPI(Sam API,Elasticsearch)が動作するimageを作成する。
- Docker Hubにimageを登録し、共有する
- 環境構築手順を作成する

[2018-02-21 14:00] ghost opened #83 "Ubuntu/Dockerでステージング環境の構築"
### 目的
Ubuntu(Vagrant) + Dockerでステージング環境を構築する

### 概要
本番環境と同じUbuntuOS上でAPIが動作するコンテナを作成する

### ゴール
- Vagrantでの仮想マシン(Ubuntu)作成
- 仮想マシンにDocker導入
- #82 で作成したimageを使って、APIが動作するか確認。動作しなければimageを修正。
- 修正したimageが本番環境で使えるか確認。

[2018-02-21 14:07] ghost opened #84 "CIの導入"
### 目的
Git HubにCIを導入する

### 概要
開発 - リリースのサイクルを短くしたい。

Git Hubでどこまでできるかはわからないが、最低でもテストは自動化したい。

### ゴール

技術調査をしてから決める。最低でもテストは自動でしたい。

[2018-02-21 14:54] krhrtky opened #85 "[API] 物理サーバのOS変更検討"
# 概要

## 目的

- パッケージマネージャを使用可能にする。

## 経緯

- パッケージマネージャ`apt-get` / `apt` が使用できない問題が発生。

- 事象としては、リモートリポジトリが404を返すようになった。

- 原因は、OSのバージョンと推測される [Qiita参照](https://qiita.com/nyanchu/items/a8cfc5cf627d70d798bf)

- 現在、towerPCのOSは `Ubuntu17.04` を使用している。

- `Ubuntu` 17.x系の最新は、17.10

## 対応方針

- 17.x系だと更新が頻繁に発生して、何度もアップデートが必要になる懸念あり。

- LTS16.x系での運用に切り替えとしたい。

[2018-02-21 14:59] ghost commented on #85
これな。当時はなんも考えずに導入しちゃったけど、正直入れなおしたいす。

ただ、やるならUbuntuを直接インストールするんじゃなくて、Hyper-Visor(VMwareとか)をいれて、Ubuntu OSの仮想マシンを作った方がいいかもしれない。

そもそも、物理サーバを捨てて、AWSとかのクラウドに移行するって手もある。(相談は必要)

[2018-02-21 15:04] krhrtky commented on #85
これをするとどういうメリットがあるか教えて！

稼働する時間も決まっているからサービス次第では料金もほぼ掛からないかもしれないね。
ただ、その辺を検討する時間が今はあるのか、微妙なところ。
まずは動作する本番が動作する環境を整えてから、移行するステップを踏んでも良いのでは？

[2018-02-21 15:10] ghost commented on #85
Hyper-Visor(VMware)導入すると以下のメリットがある
- スナップショットで状態を保存できる
- アクセスできるネットワーク内ならローカルマシンのブラウザからサーバに仮想マシンを作成できる(操作もできる)。いちいちサーバをディスプレイに繋ぐ必要がない。
- サーバのリソースが結構多いので、アプリケーションごとに仮想マシンを作って運用ができる(今後の事も考えて)。

ただ、その辺を検討する時間が今はあるのか、微妙なところ。
まずは動作する本番が動作する環境を整えてから、移行するステップを踏んでも良いのでは？

これはそうだね。しばらく物理サーバで運用して、運用大変なんです~クラウドなら楽ですけど~みたいな話もできるかもしれない。

[2018-02-21 15:18] ghost commented on #85
あと、本番環境のOS換えたいってなったときに楽

[2018-02-22 09:55] krhrtky commented on #85
なるほど。
じゃあ `Hyper-Visor(VMware)導入` を軸に進めようと思う。
その辺の知見がないので、ちょっとお願いしたい。そんで教えてください。

クラウドは後のお話

[2018-02-22 09:57] krhrtky commented on #83
これはVMWareからむと変わってくる話？変わらず？

[2018-02-22 09:59] ghost commented on #83
変わらないよ。

[2018-02-22 10:01] krhrtky commented on #83
承知です

[2018-02-22 11:15] ikkyu-3 commented on #81
## 案1, 2を実行
- version56のまま

## OSのクリーンインストールが必要
[Raspbian StretchがRaspberry Pi - Raspberry Piに到着しました](https://www.raspberrypi.org/blog/raspbian-stretch/)

`Jessie => Stretch`
にバージョンアップすると、chromium version 60が利用できる。

メジャーアップデートのため、動作保証されないそうなので、
クリーンインストールします。

[2018-02-22 11:25] ikkyu-3 commented on #42
@kakaka19
確認しました。

これいいっすね！

wikiに記載するべきではない情報・ドキュメント更新のフロー問題ないと思います。

[2018-02-22 11:27] ghost commented on #42
@ikkyu-3

ブランチ切ってプルリク出せればいいんですけど。苦肉の策すね...

[2018-02-22 11:32] ikkyu-3 commented on #42
@kakaka19
とりあえず、これで運用してみて改善点あれば変えていきましょ

[2018-02-22 12:05] ikkyu-3 opened #86 "【Raspberry Pi】モックのUX・UI修正"
## 背景
- 【モック】モックアプリ作成 #73を作成
- 実際に操作してみると、改善したい内容が出てくる可能性があるがissueが作成されていない

## このissueで行うこと
- 使用感や意見・アイディアをコメント欄に書いていく
- 検討し、反映するか決める

## 目的
- [ ] UXの向上
- [ ] 画面のデザインを決定させたい
- [ ] 足りないボタンがないかなど最終的な確認をしたい

## なぜやるのか
- Reactでの実装開始後は、デザインやUIの変更をしたくない

## 補足
Assigneesは必ず確認をお願いします。
Assignees以外にも何か意見などあればお願いしたいです。

[2018-02-22 15:50] nekonogeboku commented on #80
後ほど修正追記しますメモ
メソッド, URL, Data, JSON, status

機能
---

### 処理失敗(共通)

status: 500

[code]

### ログイン

__I/O__

| name   | value  |
| ------ | ------ |
| API    | /admin/login |
| method | GET |

__Request__

__Response__

#### ログイン画面取得

status: 200

`login.html`

__I/O__

| name   | value  |
| ------ | ------ |
| API    | /admin |
| method | POST |

__Request__

Content-Type: application/json

[code]

[2018-02-22 16:08] Tchikawa commented on #86
入室画面にも戻るボタン必要でしたかねこれ！

[2018-02-22 16:15] Tchikawa commented on #65
原色系の方がいいかなと思っていましたが、実際に動かしてみて、
目的選択後の画面は、目的選択画面で決めたそれぞれの色と同じ(今のまま)で！！
読み取りエラー：red
お疲れ様でした：blue
ユーザー未登録：yellow
残り：green yellow
でお願いします。

[2018-02-22 16:16] Tchikawa commented on #86
あと、背景の色考えました！
https://github.com/hr-js/sta_access_manager/issues/65

[2018-02-23 00:15] krhrtky commented on #86
外野から失礼します。

ざっくりですが、モックを改めて見た時に感じたこと。

- ボタンのサイズ配置に統一感がない ex) `=>`

   コンポーネントとして使いまわすにも、デザイン的にも統一感が欲しい。

- headerがないので、画面の統一感に差が出ている。

   ex) 目的選択画面 は左ペインに画像がないので余計に感じる。

   これもコンポーネントとして考えたときにもやりにくいんじゃないかなと感じてしまった。

[2018-02-23 11:52] ikkyu-3 opened #89 "【Raspberry Pi】webpack.config.baseを作成"
## 背景
- 開発用と本番用のwebpack.config.jsが同じ。開発用だけ必要な設定や本番用だけ必要な設定がある

## したいこと
- 設定ファイルを分けたい

## 目的
- webpackの設定ファイルを3つ作成
    - [ ] baseとなるwebpack.config.base.jsを作成
    - [ ] 開発用のwebpack.config. development.jsを作成
    - [ ] 本番用のwebpack.config.production.jsを作成

[2018-02-23 12:25] ikkyu-3 commented on #81
## クリーンアップインストール完了
- wifiの設定
- update, upgrade, dist-upgrade. rpi-update済み
- node.jsv9.4.0(指定バージョン)install済み
- git cloneしてこのプロジェクトもclone済み
- chromiumのversionは、60.0.3112.89

モックアプリの表示も正常なのでcloseします。

[2018-02-23 12:25] #81 closed, assigned to ikkyu-3

[2018-02-24 02:15] nekonogeboku commented on #86
- 「名前とメールアドレス入力してください」ページ
  - 画像が左下だけにならないように「名前とメールアドレス入力してください」は入力欄の上部分へ
  - 戻るボタンが欲しい
- ユーザー登録されてません
  - 戻るボタンほしい
- 目的は？画面
  - 遷移時にちらつく感じがする・・・？
　　(枠とかの大きさを他と合わせたほうがいい・・・？ )
- ユーザ一覧
  - ボタン小さい
  - 一覧文字大きさ小さくしていいのでは
  - 入退室はいるいないの表示だけでいいと思う

[2018-02-24 04:43] ikkyu-3 commented on #73
Mergedされたのでcloseします。

[2018-02-24 04:43] #73 closed, assigned to ikkyu-3

[2018-02-24 05:48] minako-nakanishi commented on #86
・ホーム画面及び処理完了画面以外の全ての画面に「戻る」ボタンを作った方が良いと思います。
・利用者登録画面へ遷移した時に、名前入力欄にフォーカスが当たっていると便利だと思います。
・ホーム画面の「今いるひと」を「利用者一覧」へ文言変更した方が良いです。
・処理完了画面が一定時間表示されていたら、ホーム画面へ自動遷移する処理はつけると思いますが、ホーム画面へ遷移するボタンもあった方が良いと思います。
→連続処理の時間短縮のため。

[2018-02-24 07:07] ikkyu-3 commented on #78
Mergedされたのでcloseします。

[2018-02-24 07:07] #78 closed, assigned to ikkyu-3

[2018-02-25 16:00] ghost commented on #75
アプリケーションのログ監視は[fluentd](https://www.fluentd.org/)で良さげ。ログ収集サーバをクラウドに用意しておく。

[2018-02-25 16:01] ghost commented on #82
Dockerコンテナ上でSAM API + Elasticsearchを作成することができたが、ソースが更新されるたびにDocker Hubにimageを登録し直さなければならない。面倒なので、git hubと連携できないか調べてみる。

[2018-02-28 11:25] nekonogeboku commented on #80
めも ちょっともらった意見とかまとめときます
- セキュリティ周りどうするか
- ログイン別にする？
- 全部〜/adminついてるけどいらないのでは？

詳細土曜とかに詰める感じで

[2018-03-03 04:51] nekonogeboku commented on #80
本日中に確認してもらい、問題なければwikiへ反映します

[2018-03-03 05:51] Tchikawa commented on #79
4章までOK!

[2018-03-03 05:52] nekonogeboku commented on #71
- API設計のwiki反映
#80 [管理者側] APIの設計を行うで共有完了のため、wikiを作成する

[2018-03-03 05:53] nekonogeboku commented on #80
今後変更があった際には別issueで対応する

[2018-03-03 05:53] Tchikawa commented on #80
確認しましたのでクローズします

[2018-03-03 06:05] ghost commented on #80
これAPIの話じゃなくて、画面のURLの話じゃね？と思ったんすけど、気になったところを書いておきます。

### 全体

- htmlやformなど、画面部品にまで言及している部分があります。APIとしては特に必要のない情報なので、削除してください。
- URLに`/admin/xxx`とありますが、`管理者側のAPI`として区別するだけの識別子は必要ありません。利用者側、管理者側で共通して使用するAPIの場合、それぞれ`/admin/~`、`/user/~`と冗長になってしまいます。
- 更に言えば`/admin/users`とかは管理者権限を持つユーザなのか、管理されているユーザなのか、パスからは判断できません。

### APIごと
####  ログイン,ログイン画面取得
- 単純な画面遷移だと思うので、APIは必要ありません。画面側でルーティングを行ってください。
- 認証に関して

[2018-03-03 06:43] Tchikawa opened #90 "[管理者]　管理者用のアプリケーション切り離し"
cc:@kakaka19

指摘
・APIのURL設計なのに静的ファイルの機能もある
・serverの役割が増える→構成が変わる
**・webappに切り出して役割を分ける**

[2018-03-03 06:55] ikkyu-3 commented on #80
修正が必要なので、openに戻します。

[2018-03-03 08:57] nekonogeboku commented on #80
- URLの/admin/~
本日の話し合いで、管理側を別アプリに切り出しを検討したい案が出たため一旦相談
/admin~は現時点でのAPIサーバーとURLが競合する可能性があったためつけていたが、
指摘より/admin部分は削除で対応

 - ログイン,ログイン画面取得

画面遷移は削除で対応、別issueでルーティング設計します 。

保留します こちらも別issue作成します。

- 目的画面
from toが省略された場合は
デフォルトの検索条件(ページの初期表示に使用)
・直近で入室記録がある日付の1日分のデータを返す
（直近のデータのある日はフロントで判断できないので、クエリを送信しない）
from-toクエリは検索時に使用予定
を想定してます。

 - ユーザ一覧画面表示
from toが省略された場合は
デフォルトの検索条件(ページの初期表示に使用)
・クエリがない場合、全

[2018-03-06 17:22] ghost commented on #80
かなり悩んでるんですが。ユーザの更新・削除のAPIは提供しない方がいいのではないかと思いました。

管理者側の要求にはありませんし、提供するのであれば、認証周りをかなりしっかり検討する必要があると思っています。

[2018-03-06 18:14] ikkyu-3 commented on #80
確かに管理画面案でこちら側で追加した機能なので、要求ではないです。
管理者ならユーザの更新・削除は必要かなと思い、とりあえず入れてみたという感じです。

今後追加実装となる可能性はあると思いますので、
個人的にはAPIの設計は残しておいて、**今回、ユーザの更新・削除のAPIは提供しない** というのがいいかなと思います。

認証周りの検討もそうなのですが、
開発期間を考えると、最近管理画面の実装する機能が多いような気がしています。

@tankette148
意見などあれば聞かせて欲しいです。

[2018-03-07 12:27] nekonogeboku commented on #80
確認したところ「削除、更新機能自体をなくす」とのことでしたので、
ページについては一部変更した方がいいかと思いました。
こうなるとメインはデータを見ることになるので、
一覧ページの合体かグラフと一覧合体あたりしちゃっていいんじゃないかと思ってます。

[2018-03-07 13:42] ghost commented on #80
@ikkyu-3

まぁCRUD全て実装する必要もないので、要求になければいいかなと思っています。
管理者っていっても、実際DBの運用までやってくれるかと言ったら微妙な気もするので。

グラフ表示とかはHighchartsの仕様に依存するかと思いますんで、モックは端折ってもいいと思います。

[2018-03-07 17:24] ghost commented on #80
一応できました

### 処理失敗(共通)

status: 500

[code]

### 入室記録取得

__I/O__

| name   | value  |
| ------ | ------ |
| API    | /users |
| method | GET    |

__Request__

| key       | value    |
| --------- | -------- |
| date.from | yyyymmdd |
| date.to   | yyyymmdd |

__Response__

status: 200

[code]

### 直近の入室記録取得

__I/O__

| name   | value         |
| ------ | ------------- |
| API    | /users/recent |

[2018-03-09 11:54] Tchikawa commented on #80
ありがたや...

[2018-03-10 05:16] nekonogeboku commented on #80
@kakaka19 まとめてくださってありがとうございます、内容確認しました!
問題ないと思います、
これで一旦コミットして、今後足りない等あった際には追加していく形にしたいと思います。

wiki作成後にこのissueを閉じたいと思います。

[2018-03-10 05:55] nekonogeboku commented on #80
@kakaka19
[API](https://github.com/hr-js/sta_access_manager/wiki/api)
ここに追記予定ですが、重複ありそうなので後ほど相談してから追記したいと思います。

[2018-03-10 06:42] nekonogeboku commented on #80
追記完了

[2018-03-17 09:44] ikkyu-3 commented on #86
@Tchikawa @krhrtky @tankette148 @minako-nakanishi
意見を反映し、モックを修正しました。
確認お願いします。

## 確認方法
1.  `sta_access_manager/mock/ikkey-3/sta_mock_v2` に移動
1.  `yarn install`
1.  `npm start`

※色鮮やかなので、画面から離れてご覧ください。

意見などあれば、またここにお願いします。
一旦この確認が終わったら、実装に入ろうと思っています。

[2018-03-18 11:46] minako-nakanishi commented on #86
画面確認しました！
ユーザー登録画面の名前入力項目とメアド入力項目に必須エラーが欲しいです。

時間があれば、メールアドレス入力欄は日本語入力禁止とかにすると良いかと思われます。
CSSのime-modeってやつです。（タブレットでできるかは分からないのですが。。）
時間があればで大丈夫です。

・あと質問なのですが、利用者一覧の第一ソートは入退室項目で第二ソートは目的でしょうか？
個人的に入室中の人の名前が上の方に来た方が良いかと思ったので、第一ソートは入退室項目が良いかと思っています。
第二ソートは目的か、裏で入室時間のデータを持っていれば、入室時間でしょうか？
（個人的にはどちらでも良いと思ってます。）

全体的にOKだと思います。

よろしくお願いします。

[2018-03-18 12:21] ikkyu-3 opened #91 "【Raspberry Pi】webpack4へupgrade"
## 目的
webpack3からwebpack4へupgrade

## 動機
- 【Raspberry Pi】webpack.config.baseを作成 #89 のように複数ファイル作成する必要がない
- パフォーマンス向上によりビルド時間が早くなったそうです。
- 試してみたい

[リリース・webpack / webpack](https://github.com/webpack/webpack/releases)

### 備考
- 【Raspberry Pi】testフレームワークをjestに変更 #92を考慮した変更を行います
    - **テストフレームワークをアンインストールします。**
    - テストの設定ファイルを削除します(testフォルダの中を全て削除します)
- 他のパッケージもupdateする

[2018-03-18 12:24] ikkyu-3 opened #92 "【Raspberry Pi】testフレームワークをjestに変更"
## 目的
既存のテストフレームワークをやめて、jestに変更する

## 動機
- reactを使用するので、相性がいい
- flowに対応している。(TypeScriptも)

【Raspberry Pi】webpack4へupgrade #91 が完了してから行います。

## 追記
外部ライブラリの型定義を取り込むため、[flow-typed](https://github.com/flowtype/flow-typed)を使用する。

[2018-03-18 12:53] ikkyu-3 commented on #89
【Raspberry Pi】webpack4へupgrade #91 に変更するため、対応しません。
closeします。

[2018-03-18 12:53] #89 closed, assigned to ikkyu-3

[2018-03-18 13:18] krhrtky commented on #86
@ikkyu-3
モックの再作成ありがとうございます。

2点気になるところがありました。

1. スキャン失敗時

  - 失敗の画面でそのまま再スキャンを促しているように見受けられます。

  - 再スキャン時に失敗した場合、画面が遷移していないと思われるので、

     動きがないのでもう一度、ICを読み込んだのかがわからない。

2. 目的選択等の画面

  - 左ペインではTOPになっているが、TOPなのか？

その他は大丈夫だと思います。

[2018-03-18 13:35] krhrtky commented on #91
気になったことがあったので、質問です。

- デメリットはないのでしょうか、特に他の人の実装実績。

  - 設定方法を調べたときににv.4.x系のものがどれだけ出てくるのか。

  - 今のプロジェクトで上手くいかない部分がある。

  - この点は、実装が遅くなる懸念があるかと思ってます。

- 対象はどこまでか。

  - ラズパイと管理画面は別パッケージ。

  - 個人的には統一すべきだと考えます(実装時に知見を共有できるため)。

よろしくお願いします。

[2018-03-18 14:29] ikkyu-3 commented on #91
@krhrtky

- 現在自分が確認しているものとしては、プラグイン関係のみです。
- 現段階ですとpower-assertが該当するかと思いますが、jestに変更の予定です。jestに関しては、一度テストしますね
- 他の人の実装実績は考えてませんでした。もしバグが出たなど、実装が難しくなった場合なのですが、ダウングレードは容易と考えてます。modeを削除し、scriptを変更するのみの対応できます。

よってリスクは少ないかと思います。がどうでしょう？
[Commits · hr-js/sta_access_manager](https://github.com/hr-js/sta_access_manager/commit/aa9530d0f3e474ea790f33e37dd06c9005a5b4a4)
差分が確認できます。

- 件名通り「ラズパイ」のみを対象としています。
-

[2018-03-18 14:47] ikkyu-3 commented on #86
@minako-nakanishi
確認ありがとうございます。

これは入力チェックが欲しいってことでいいですか？
モックなので、機能はつけていませんが、実装ではエラー機能を実装する予定です。

CSSのime-modeってやつです。（タブレットでできるかは分からないのですが。。）
時間があればで大丈夫です。

ime-modeはサポートされてませんね。こちらは入力制御で対応しようと思います。

wikiに載っているAPIすると

`入室時間で降順にソート。利用者が一人もいない場合は空の配列を返す。`

となるので、表示は入室時間降順となります。

[2018-03-18 14:54] ikkyu-3 commented on #86
@krhrtky
確認ありがとうございます。

失敗の画面でそのまま再スキャンを促しているように見受けられます。
再スキャン時に失敗した場合、画面が遷移していないと思われるので、
動きがないのでもう一度、ICを読み込んだのかがわからない。

ここでもスキャンできると想定してます。
- urlを追加して再スキャンが成功した動きができるようにする
- 再び失敗の場合は、ダイアログを表示する

で対応します。

`入退室処理` の方がいいですね。
TOPという表記はなんか違う気がします。入退室処理に変更しようと思います。

[2018-03-18 14:58] minako-nakanishi commented on #86
@ikkyu-3
①必須の入力チェックはつける予定だったんですね。失礼しました（汗）
②ime-modeサポートされていないんですね。入力制御で対応するで了解です！
③ソートも入室時間のソートで了解です！

[2018-03-19 00:10] krhrtky commented on #86
@ikkyu-3
回答ありがとうございます。

これは再スキャン用の動作を追加するという認識であっていますか？

もし、追加するのは以下の理由であまり良くないかなと思いました。

- やることはICカードのスキャンであり、失敗前後で変わらない。

   => メソッドは共通としても同じことをやるのにURLが２つあるのは違和感がある。

- ダイアログが他に使うところがなければ、そのコンポーネントの設計、実装に時間をかけるのはもったいない。

   => あるあるですが、`Loading... ` のような画面をつけたほうが、他機能のIC読み取りでも利用できるのではないでしょうか(websocket 仕様時にできるか調べていないので名言はできないですが)？

承知です。TOPはあってもいいのかなと思っていますが、indexページだけだなと思って言ってみました。

### 余談

ime-mo

[2018-03-19 16:37] ikkyu-3 commented on #86
@krhrtky

その認識であっています。

=> メソッドは共通としても同じことをやるのにURLが２つあるのは違和感がある。

モックだとURLで遷移させて動作を表現していますが、
Reactで実装する際は、状態で表示を切り替えるので、URLが2つになることはないとの認識です。
この説明で大丈夫でしょうか？間違っていたらすんません。

ブラウザのダイアログで対応と考えています。
時間があればコンポーネントに差し替えたいなという認識です。

そこです！ありがとうございます！

[2018-03-24 07:24] ghost commented on #90
利用者側API同様、https://github.com/hr-js/sam_api_server に実装を行う。切り離しは行わないので、クローズ。

[2018-03-24 07:24] #90 closed, assigned to ikkyu-3, krhrtky, nekonogeboku, Tchikawa

[2018-03-24 07:28] ghost opened #94 "管理者側API実装"
@Tchikawa

何をやってるのかが、あまり見えてこないので、記載お願いします！

実装するAPIはいくつあるか？
どの様なことが課題か？

まぁあとは書けること。

[2018-03-24 07:52] ghost commented on #75
#94が完了次第着手

[2018-03-24 07:53] ghost commented on #79
ゴール決めてやった方がいいかもです。

[2018-03-24 07:54] ghost commented on #67
ゴール決めてやった方がいいかもです。

[2018-03-24 07:57] ghost commented on #72
ゴール決めてやった方がいいかもです。

[2018-03-24 07:59] ghost commented on #80
TOC(目次)も追加すること。

[2018-03-24 08:56] minako-nakanishi commented on #67
期限を決めてということですか？

[2018-03-24 09:07] ghost commented on #67
期限もそうだけど、例えばチュートリアル終わったとか、練習で画面作ってみたとか、

[2018-03-24 09:11] minako-nakanishi commented on #67
勉強した内容はSlackのopen _studyに載せてるよ。

[2018-03-24 09:23] minako-nakanishi commented on #67
ゴール:再来週末までにQuickStartをやりきる

[2018-03-24 09:24] ghost commented on #67
まぁそれはそれでやっててもらって。
このissueがずっと開きっぱだから、もし使ってないならクローズしてもいいんじゃない？

[2018-03-24 09:27] minako-nakanishi commented on #67
上記ゴールを達成したらクローズします

[2018-03-24 11:51] krhrtky opened #95 "[確認][API] ElasticSearchの設定"
@kakaka19

APIを起動しようとしたときにいくつか、上手くいかない部分があったので確認です。

1.  ElasticSearchのポート

- デフォルトのポートは`9200` だけど、 `routes/users.js` では `9400` で書かれている(10行目)。

[code]

1. 起動時の前提

- ElasticSearchは別途立ち上げておかないと接続できないですよね。

  => RDB考えてみれば、当然だけど....

[2018-03-24 12:04] ghost commented on #95
コードには一応9200としてるけと。。。

[2018-03-24 12:20] krhrtky commented on #95
ほんとだ。何かの拍子にローカル書き換えちゃったかな。
なんでもないです。。。

[2018-03-24 12:40] ghost commented on #95
まぁ設定を外部化した方がいいのかもね。

[2018-03-25 15:12] ikkyu-3 opened #96 "【Raspberry Pi】ディレクトリ構成を検討"
## React+Reduxのディレクトリ構成を検討
ディレクトリ構成を考えてみました。
ざっと考えたディレクトリ構成です。
### 案1
見本にしたディレクトリ構成
[redux/examples/todos/src at master · reactjs/redux](https://github.com/reactjs/redux/tree/master/examples/todos/src)

[code]
#### メリット
- 各フォルダ内がどんな役割のファイルがあるかわかりやすい
#### デメリット
- 各フォルダ内のファイル数が増えると管理がしづらい
### 案2
- 修正しました(3月27日時点)
[code]
#### メリット
- フォルダ毎にtestまで完結しているので管理がしやすい
#### デメリット
- ファイルの命名規則など、事前に決めておく必要がある

[2018-03-26 16:54] ikkyu-3 commented on #86
mergeされたのでcloseします。

[2018-03-26 16:54] #86 closed, assigned to ikkyu-3, krhrtky, nekonogeboku, minako-nakanishi

[2018-03-26 16:59] ghost commented on #96
@ikkyu-3

案２だとページでディレクトリ切ってるのか画面部品ごと切ってるのかちょっとわからなくないですか？

複数のページで再利用されているcontainerがあった場合（例えばbuttonContainer.jsとかそうじゃないですかね）、テストコードが重複して、変更の際に逆に管理が大変になりそうな気もします。

[2018-03-26 17:15] ikkyu-3 commented on #96
buttonやiconなどの名前だと画面部品だなと直感的だと思ったんだけど。
そしたら、
[code]
というのはどうでしょう？

あ、申し訳ない。
ちょっと書き方が悪かったので補足しておくと、画面部品はjsxとcssファイルのみ作成する方針で考えています。
container.jsはページごとにcontainerやaction, reducerを作成します。

↑修正しておきます

[2018-03-27 09:28] krhrtky opened #98 "[api] [test] jest でエラーが発生して実行できない"
## 事象

- `jest` で `require()` のグローバルメソッドが呼び出せない

[code]

- ググるも原因分からず(babelっぽい)

- `jest` のチュートリアルは実行できる( `require()` を読み込めている )ので、jest自体が原因か切り分けできず。

- とりあえず、状況報告まで

[2018-03-27 09:43] ghost commented on #98
requireできなかったモジュールはなんですか？

[2018-03-27 09:48] krhrtky commented on #98
fastify です

[2018-03-27 09:55] ghost commented on #98
エラーでた時の環境と、どんなコードを実行しようとしたら起きたのか教えてほしい。

[2018-03-27 10:17] krhrtky commented on #98
- 下記、ソースを実行。

- コマンド

`NODE_HTTP=http jest` をnpm scriptで実行

-  node -v

    v9.4.0

- server.js

[code]

- server.test.js

[code]

情報足らなければ、指摘よろしくです。

[2018-03-27 10:41] ghost commented on #98
server.jsとserver.test.jsは同じディレクトリ？

[2018-03-27 10:50] kakaka19 commented on #98
[code]
でexportsしてるから、
[code]
じゃないといけないと思う。

[2018-03-27 11:22] ghost commented on #98
そもそも`yarn run http`,`npm start http`,`node server.js`で動いてないみたいです。

[2018-03-27 11:36] ghost commented on #98
なんかshema.jsでtypoがあったんでfixしてdevelopにpushしました。
多分これで大丈夫だと思う。

[2018-03-28 12:54] Tchikawa commented on #94
https://github.com/hr-js/sta_access_manager/wiki/api
ここの、管理画面側使用以下の3つを実装予定です。
といあえず、schemaだけ作って、krhrtkyに見てもらいました。

・あんまり理解できてないこと
　ikkyu-3に教えてもらったりkrhrtkyに聞いたりしてます！
　土曜開放デーで終わらせたい

[2018-03-29 12:04] ikkyu-3 commented on #96
## React+Reduxのディレクトリ構成以外のディレクトリ構成
チャットで話した内容をここに記載しておきます。

- React+Redux以外のディレクトリ構成以外が混沌としている
- こちらのディレクトリ構成も考えた方がよいのではないか

ということで、一度考えたいと思います。

[2018-03-30 10:20] ikkyu-3 commented on #91
mergeされたので、closeします！

[2018-03-30 10:20] #91 closed, assigned to ikkyu-3

[2018-03-31 06:52] krhrtky commented on #98
やり直したけど、同じエラーメッセージでないすか？

[2018-03-31 07:06] ghost commented on #98
jestの方では試してないっす。developからの差分pullした？

[2018-03-31 07:08] ghost commented on #98
branch切って、pushした方がいいかも。同じコードで試してみる。

[2018-03-31 07:09] krhrtky commented on #98
schema.jsをdevelopからコピーして実行したから間違いないはず

[2018-03-31 07:11] ghost commented on #98
まぁbranch切って一旦pushしてもらっていいすか。自分で書いてもいいけど、違ったらまた手間なんで。

[2018-04-03 04:23] Tchikawa commented on #94
@kakaka19
ご報告
shema、manegiment.js修正してpushしました。
申し訳ありませんが、ElasticserchのDAO投げても大丈夫でしょうか？

新たに、schemaのバリデーションをどこまでかけるかが決まってない問題が出たので、別でissue立てて@tankette148と話会います。

[2018-04-03 04:33] Tchikawa opened #100 "[API][validation] API側のバリデーションどこまでかけるか"
必要最低限でいいのでは？ってなってます。
yyyyMMdd　->　\d{4}\d{1,2}\d{1,2} (From-Toの時系列は気にしない)
など

[2018-04-04 10:52] nekonogeboku commented on #80
すみません、閉じてませんでした。
目次追記完了　今後は別issueで対応します。

[2018-04-04 10:52] #80 closed, assigned to ikkyu-3, krhrtky, nekonogeboku, Tchikawa

[2018-04-05 11:08] ghost commented on #100
yyyymddやyyyymmdといった日付フォーマットは扱いたくないので、`\d{4}\d{2}\d{2}`で大丈夫です。

[2018-04-05 11:08] ghost commented on #100
時系列は簡単にできるので気にしてください。

[2018-04-05 11:12] ghost commented on #94
@Tchikawa
お疲れ様でした。4月中に対応します。
あとプルリク投げてください

[2018-04-05 11:38] kakaka19 commented on #98
原因はserver.jsで同期を待たずに(awaitせずに)requireしていたためです。修正をrouter_testにコミットしたので確認してください。
差分貼っときます。https://github.com/hr-js/sam_api_server/commit/28cba5e7920be8184f8cb58e6bd30135395ca3f6

[2018-04-05 11:39] ghost commented on #98
@krhrtky

原因はserver.jsで同期を待たずに(awaitせずに)requireしていたためです。修正をrouter_testにコミットしたので確認してください。
差分貼っときます。https://github.com/hr-js/sam_api_server/commit/28cba5e7920be8184f8cb58e6bd30135395ca3f6

[2018-04-05 11:44] ghost commented on #98
あと多分この修正をすると起動できなくなるので...適宜調整してください

[2018-04-06 00:36] krhrtky commented on #98
@kakaka19
調査、対応ありがとう！助かりますm(_ _)m

これでテストコードはかけるはずなので、今週末にでも担当のAPIで正常系の処理は書くようにします。
あと、ESLintがJestに対応してないからプラグイン入れてみてプルリク出します。

@Tchikawa
`router_test` ブランチのテストコードを参考に書き始めてみて。
確認する中身とかは全然書かれてないけど、そのへんは想像で。

[2018-04-07 03:06] Tchikawa commented on #100
了解です！ありがとう！

[2018-04-07 03:08] Tchikawa commented on #94
@kakaka19
ありがとうございます！
これ、DAO呼ぶところ適当に名前つけてやっちゃってるんだけどプルリク投げちゃって大丈夫なの..??

[2018-04-08 06:51] ikkyu-3 commented on #92
Mergeされたので、closeします。

[2018-04-08 06:51] #92 closed, assigned to ikkyu-3

[2018-04-14 06:47] #100 closed, assigned to nekonogeboku, Tchikawa

[2018-04-14 06:50] #79 closed, assigned to Tchikawa

[2018-04-14 06:57] yumtana2 commented on #68
1. curlで疎通確認する。
　成功条件:httpステータス200で返却される、かつ、ページタイトルが返却された場合。
2. try-catchで安心安全なブラウザ起動する。
　ブラウザ起動するときにtry-catch入れる。

[2018-04-14 08:54] ikkyu-3 opened #102 "ルーティング実装"
## 目的
- ルーティングの実装
## 実装方法
[react-router/packages/react-router-redux at master · ReactTraining/react-router](https://github.com/ReactTraining/react-router/tree/master/packages/react-router-redux)を使用する

[2018-04-15 10:24] krhrtky commented on #98
@kakaka19 @Tchikawa

jestのエラー解消しました。
原因は、関数内でreqiureが使用できなかったようです。
routes/users.jsのproivderを読み込み処理がそうなっていました。
なので、トップレベルに上記処理を移行しました。
あとは、jestのリファレンスにそってテストコードを書いていけば大丈夫です！

[2018-04-15 10:24] #98 closed, assigned to krhrtky, Tchikawa

[2018-04-15 10:39] krhrtky opened #103 "【API】テストコード(jest)"
@kakaka19 @Tchikawa
jestでテストを書いていきましょう。

- testディレクトリに書いていけばいいかなと
- ディレクトリ構成はまた相談で

## routing部分のテスト観点
- 正常系
  - 正常なリクエストのパラメータで送ったときにstatusCodeが`200`でレスポンスが返ってくる。
  - レスポンスのjsonがwikiでまとめたデータ構造かどうか(key + valueの型)。
- 異常系
  -  validationに引っかかった気にstatusCodeが`400`でレスポンスが返ってくる。

## DAO(provider)のテスト観点
- @kakaka19 お手すきで追記お願いします。

[2018-04-21 05:37] ikkyu-3 commented on #96
mergeしたのでcloseします。

[2018-04-21 05:37] #96 closed, assigned to ikkyu-3

[2018-04-22 13:52] ikkyu-3 opened #104 "メニューコンポーネント作成"
## 目的
メニュー部分のコンポーネントを作成する。
## 作成する部分
左メニュー部分
## 作成方法
### ~~atomic designでコンポーネントを作成~~
~~作成順序としては~~
1. ~~atom~~
1. ~~molecule~~
1. ~~organism~~

~~とコンポーネントを作成していく。~~

【追記】
Atomic Design採用やめました。

[Menu.jsx]というコンポーネントを作成します。

### cssに関して
**css modulesを採用します**
cssファイルを定義します。
### flowを使用する。

## テストに関して
テストする項目は以下の通りとします。
- スナップショットテスト
- DOMテスト

コンポーネント作成方法をとりあえず考えてissue作成しました。
実装中に、改善できるところあれば追記していこうと思

[2018-04-22 13:55] ikkyu-3 opened #105 "参加者一覧画面コンポーネント作成"
## 目的
参加者一覧コンポーネントを作成する。
## 作成するコンポーネント
参加者一覧
## 作成方法
### ~~atomic designでコンポーネントを作成~~
~~作成順序としては~~
1. ~~atom~~
1. ~~molecule~~
1. ~~organism~~

~~とコンポーネントを作成していく。~~
### cssに関して
**css modulesを採用します**
各コンポーネントに対して、対応するcssファイルを定義します。
### flowを使用する。
## テストに関して
テストする項目は以下の通りとします。
- スナップショットテスト
- DOMテスト

[2018-04-22 13:57] ikkyu-3 opened #106 "ユーザ登録画面コンポーネント作成"
## 目的
ユーザ登録画面コンポーネントを作成する。
## 作成する部分
ユーザ登録画面
## 作成方法
### ~~atomic designでコンポーネントを作成~~
~~作成順序としては~~
1. ~~atom~~
1. ~~molecule~~
1. ~~organism~~

~~とコンポーネントを作成していく。~~

#### 追記
atomic designの採用はやめて、1つのコンポーネントとして作成します。

### cssに関して
**css modulesを採用します**
各コンポーネントに対して、対応するcssファイルを定義します。
### flowを使用する。
## テストに関して
テストする項目は以下の通りとします。
- スナップショットテスト
- DOMテスト

コンポーネント作成方法をとりあえず考えてissue作成しました。
実装中に、改善できるところあれば

[2018-04-22 13:59] ikkyu-3 opened #107 "入退室処理画面コンポーネント作成"
## 目的
入退室処理画面のコンポーネントを作成する。
## 作成する部分
入退室処理画面
## 作成方法
### ~~atomic designでコンポーネントを作成~~
~~作成順序としては~~
1. ~~atom~~
1. ~~molecule~~
1. ~~organism~~

~~とコンポーネントを作成していく。~~
### cssに関して
**css modulesを採用します**
各コンポーネントに対して、対応するcssファイルを定義します。
### flowを使用する。
## テストに関して
テストする項目は以下の通りとします。
- スナップショットテスト
- DOMテスト

コンポーネント作成方法をとりあえず考えてissue作成しました。
実装中に、改善できるところあれば追記していこうと思います。

[2018-04-22 14:32] ikkyu-3 opened #108 "husky + lint-staged + prettierを設定する"
# 目的
git commitする前に、色々をチェックやコードを綺麗にしたい。
# 理由
これからレビューが多くなる見通しがある。少しでも、レビューの負担を軽減するために設定しておきたい。
# なにを設定するのか？
- prettierでコードを整形
- ステージングにあるファイルのみ構文チェック
- ステージングにあるテストファイルを実行
# タイミング
## git commit時
- prettier
- eslint
- flow
## git push時
- test

今後内容が変更する可能性がありますが、現時点の設定内容です。
変更があれば、追記しようと思います。

[2018-04-24 07:00] ikkyu-3 opened #109 "webpack.config.jsの設定を修正"
## 目的
- ~~webpack dev server の設定に、`historyApiFallback: true,`を追加~~
- hot reloadの対応
- 環境変数の利用(modeの切り替えなど)
## 現状
- ~~SPA開発でリロードすると、404が表示される~~
- 毎回リロードしているので、必要外のリソースも読み込んでいる
- 環境変数を使用していない。

[2018-05-03 08:05] ikkyu-3 commented on #108
対応したのでcloseします。

[2018-05-03 08:05] #108 closed, assigned to ikkyu-3

[2018-05-04 06:22] krhrtky commented on #95
確認狩猟しているのでclose

[2018-05-04 06:22] #95 closed, assigned to krhrtky, Tchikawa

[2018-05-04 06:54] krhrtky opened #111 "【API】ルーティングの確認"
## 概要
- モック(旧デザイン)のレビューをした時に入退室のURLをまとめたほうがいいのでは等
話をしたが、Wiki(api)に反映されていない。

## 目的
- 時間が立ってしまったのでAPI側の実装とあわせて、おさらいと確認をしたい

[2018-05-04 09:21] krhrtky opened #112 "【API】schemaのvalidationの追加"
## 概要
- 送られてくるパラメータについて、必須チェックは書けていたが、数値やメールと言った特定の形式になるパラメータに対してvalidationが無いので何を送っても通ってしまう。

## 目的
- 各パラメータに対して適切なvalidationをかける

[2018-05-12 07:42] krhrtky commented on #111
- wiki「api」の「集計」を「一覧」に変更。
- 500ERRORを実装。
- UPDATEは現状不要。APIから削除。
- 入退室のAPIは1つにするとしていたが、
  - 存在確認
  - 入室処理
  - 退出処理

   の3の機能に分割する。

- 存在確認については、(users/:id/status)
- エンドポイント名の変更
   - out => exit

[2018-05-12 07:50] ghost commented on #111
UPDATEは登録ユーザの更新なので必要では？

[2018-05-12 07:51] ghost commented on #94
コメントみてなかった。取り敢えずdao呼ばないでください。

[2018-05-12 07:55] krhrtky commented on #111
表現が悪かったので訂正します。
現段階で不要なので初期の実装から外したということです

[2018-05-12 07:58] ghost commented on #19
あんまり機能してないのでクローズしてもいいですかね。

[2018-05-12 07:59] ikkyu-3 commented on #19
全然機能してないから、いいと思います。

[2018-05-12 08:00] krhrtky commented on #19
良いと思います

[2018-05-12 08:01] ghost commented on #19
close!

[2018-05-12 08:01] #19 closed

[2018-05-13 13:11] ikkyu-3 commented on #111
@krhrtky
APIの確認ができたけど、その話し合いでswaggerを使用してAPIを管理していこうってなったかと思います。
ですので、

**今回のこのissueの目的は、達成したと判断してclose**して、
swagger対応のissueをたてたほうがいいかなって思うのですがどうでしょう？

このままopenの状態のままになってしまうのではと思ったので、、、

[2018-05-13 14:25] krhrtky commented on #111
@ikkyu-3
そうですね。
こちらはcloseとして別のissueを作成します。

[2018-05-13 14:25] #111 closed, assigned to ikkyu-3, krhrtky, nekonogeboku, Tchikawa

[2018-05-13 14:34] krhrtky opened #114 "APIドキュメントの作成(Swagger)"
## 概要
- Wikiに書いていたAPIのendpointやparameter等を[Swagger](https://swagger.io/)で再作成する。

## 経緯
- APIの情報の更新漏れがあった。
- コードで管理できれば、更新履歴が分かる。

## 作成方法
- swagger editorをdockerで立ち上げて作成してpushする。
- ディレクトリ等は別途検討。

[2018-05-19 05:56] #109 closed, assigned to ikkyu-3

[2018-05-19 06:45] nekonogeboku commented on #72
JavaScript本格入門(7章まで)完了しているのでクローズ、別issueにします。

[2018-05-19 06:45] #72 closed, assigned to nekonogeboku

[2018-05-24 04:56] krhrtky commented on #114
これができれば、手作業で書かなくてもいいのか...
https://github.com/fastify/fastify-swagger

[2018-05-26 04:50] ghost opened #115 "APIのディレクトリ構成検討"
### 目的

API側のディレクトリ構成を検討しないまま進めてしまったため、ソースファイルの配置が機能に即しないものとなっている。実装/機能追加が進むと混乱の元になるため、再構成する

### 対象リポジトリ
https://github.com/hr-js/sam_api_server

[2018-05-26 04:56] ghost commented on #115
現状
[code]

[2018-05-26 05:04] ghost commented on #115
- dao関係のファイル(provider.js,query.js)を `/routes`から`/infrastructure(新規で作成)`に移動
- `/assetes`がそもそもスペルミス(おそらくassets)、また、命名が機能に即していないため、`/schema`にリネーム。
- schema.jsが膨らんで来ているので、request.js、response.js、error.jsに分ける。(できれば)

[2018-05-26 05:09] ghost commented on #42
wikiに記載したのでクローズ(忘れていた)

[2018-05-26 05:09] #42 closed, assigned to ikkyu-3, krhrtky

[2018-05-26 05:19] ghost commented on #115
こんな感じを想定
[code]

[2018-05-26 05:27] ghost commented on #115
@krhrtky
検討案出しました。意見お願いします

[2018-05-26 05:35] krhrtky commented on #115
@kakaka19
個人的にはルートの配下に機能ごとのディレクトリを切ると見づらいのかなとおもいました。
javaだったりrailsのように src または app を作ってその中に各ディレクトリを作ったほうが見やすいかなと。
意図的にその構成にしなかった理由があれば聞いてみたいです。

あと、 `infrastructure` は配下の中身が想像しにくいかなとも思いました。

一応、自分の素案を載せておきます。
[code]

[2018-05-26 05:55] ghost commented on #115
@krhrtky

意図的にその構成にしなかった理由があれば聞いてみたいです。

そこまでの量じゃないかなーと思って切ってなかったですが、直下にあると面倒かもしれませんね。賛成です。

`/repository`でも`/dao`でもよかったんですが、リクエストに関係ない起動時の疎通確認処理などが入るので、少し包括的な名前にしました。ただ、`/repository`にしてその下に`/infrastructure`切ってもいいですね。

素案についてですが、ディレクトリ名は複数形にしなくていいと思います。アプリケーション内での役割を示せればいいので。他の細かい疑問は下に書いています。
[code]

[2018-05-26 06:03] ghost commented on #115
`/infrastructure `じゃなくて`/init`とか`/boot`とかのがわかりやすいかもしれないですね。`/repository`とは別にして

[2018-05-26 06:13] ghost commented on #115
@krhrtky
まとめると、こんな感じがいいような。
[code]

[2018-05-26 06:16] krhrtky commented on #115
ひとまずここのディレクトリは決定で。

initって何をやるものなんだっけ？

[2018-05-26 06:22] ghost commented on #115
appの起動時にElasticsearchが立ち上がっているかを確認したりとか、その日の入退室情報を記録するインデックスを作成したりとか、要は起動時に必要な諸々の処理。`/infrastructure`にしようかと思ったけどわかりづらいから`/init`にした。

[2018-05-26 06:22] ghost commented on #115
@krhrtky mentionつけ忘れ

[2018-05-26 06:35] krhrtky commented on #115
それだったら、ウェブアプリを確認する機能だから、
appのディレクトの外においたほうがよくないかな？

[2018-05-26 06:37] krhrtky commented on #115
`__test__` はjest使ってるので見るかなと
`__mock__` と同じように表現を合わせているんじゃないかな。

[2018-05-26 06:41] krhrtky commented on #115
`__test__` の配下は `app` と同じディレクトリ名の認識であってます(直し漏れ)です。
`enums` の名前は変えてもいいと思っているんだけど、
purposeとか固定値を管理する場所にしたい。
`provider.js` に直にかいてあるのは見たのだけれど、それだと管理できないと思ったので。

[2018-05-26 06:53] ghost commented on #115
@krhrtky

appのディレクトの外においたほうがよくないかな？

一応dockerコンテナで動かすことを考えると、アプリ自体にその疎通確認の機能は必要だから`/app`下に置いた方がいいかなと思う(このアプリの機能ですっでのを示すためにも)。

__mock__ と同じように表現を合わせているんじゃないかな。

アンダーバー必要なかったらない方がいいかな。cdとか設定ファイルでディレクトリ指定するときめんどい。

それならおけです。

[2018-05-26 07:02] ghost commented on #74
@ikkyu-3
これログってどんなログですか？

[2018-05-26 07:13] ghost opened #116 "管理者画面レイアウト作成"
### 目的

管理者画面のレイアウトを作成する(おそらく実装が進んでいないのはそのため)。

webサーバ等色々考えることはあるが、一旦はwebpack-dev-server上で動作できればよい。

### スタイル
楽にやりたいのでreactのコンポーネットセットを使う。
- Material-UI https://material-ui.com/
- react-toolbox http://react-toolbox.io/
- rebass http://jxnblk.com/rebass/

上二つはGoogle Material Designを採用している。

[2018-05-26 07:19] krhrtky commented on #115
それはgitのリポジトリの中で管理しているからアプリの一部として認識できるんじゃないかなと思うけど、それとは考え方的に違うかな？

testディレクトは特にこだわりないので `test` でOKです。

[2018-05-26 07:36] krhrtky commented on #115
## 残課題

- あとはどの段階で変更するか

- 今のPRをどうするか

[2018-05-26 08:29] ghost commented on #115
ほかのソースはapp下にいるのにそこだけルート直下ってのも変じゃない？
あとdockerコンテナで動かすときに/appにいると都合がいいってのもある。

今のPRが消化したらでいいんじゃないかな。それまでissueは開いておこう

[2018-05-30 10:59] ikkyu-3 commented on #74
@kakaka19
想定しているのは、ICカードスキャンしたログ？ぐらいですね。。
必要ないかもって思い始めてる感じです。

対応しないでcloseしていいと思いますが、どう思います？

[2018-06-02 07:25] ikkyu-3 commented on #104
すぐに確認できるように、  [storybook](https://storybook.js.org/)を導入する。

[2018-06-03 03:56] krhrtky commented on #115
@kakaka19
若干詰まってない状態で進めてしまった部分があったと感じた。
- `app.js` はエントリーポイントになるのでappディレクトリ直下でいいと考えています。
- initディレクトリは中身ができるときに追加。
- schemaはcommonsにするって頭になってたのでcontollersに移動します。

[2018-06-04 15:17] ghost commented on #115
@krhrtky
ディレクトリ名は複数形である必要はないので、単数形にしてください

[2018-06-06 14:37] krhrtky commented on #115
@kakaka19
特に主義はないので、変更します。
何かの構成を参考にした感じですか？

[2018-06-09 04:25] ghost commented on #115
@krhrtky
何かの構成を参考にしたというより、そもそも複数形でつける必要がないかなと。

[2018-06-09 04:29] ghost commented on #74
@ikkyu-3
必要ないと思っています。ラズパイにログ溜めても使い道があまり思いつきません(そもそものストレージの話とかあるし)。

[2018-06-09 04:32] krhrtky commented on #115
@kakaka19
了解です

[2018-06-09 04:34] ghost commented on #114
@krhrtky
全然違う話かもですが、flowtypeをAPI側にも導入していいのかなと思いました。

[2018-06-09 05:05] krhrtky commented on #114
@kakaka19
TypeScriptでなく？

[2018-06-09 05:51] ghost commented on #103
@krhrtky
daoのテストですが、dao自体のモックを作ってしまうとあまり意味がないため、DBアクセス含む大きい観点からのテストとします。

[2018-06-09 05:51] ghost commented on #114
@krhrtky
どっちでもいいかな

[2018-06-09 06:13] krhrtky commented on #114
@kakaka19
リリース後のフェーズで考えよう
頭には入れとくくらいの感じで

[2018-06-09 06:17] ghost commented on #114
@krhrtky
Daoの方には導入しちゃっていいかな? 型=DBのスキーマみたいに考えられるから、実装楽になるんだよね(ドキュメンテーション関係ない話だし、優先度低いけど.)。

[2018-06-09 06:19] krhrtky commented on #114
@kakaka19
controllerを実装する中で考慮しないといけないところってある？
transpileしないといけないとか

[2018-06-09 06:22] ghost commented on #114
@krhrtky
その辺りはまだわかんない。ただcontrollerはschmeがもう定義されてるから、Daoだけ導入してもよさげな気もしてる。

[2018-06-09 06:24] ghost commented on #114
https://dev.classmethod.jp/etc/lambda-node-js-flow-type-check/

babel入れるだけでいい感じなのかな...まぁ管理者の方の機能実装したら試しにやってみる。

[2018-06-10 15:03] ghost commented on #115
@krhrtky
closeしていい？

[2018-06-10 17:02] ghost opened #117 "管理側API(management.js)と利用者側API(users.js)の統合"
### 目的
別々のファイルになっており、一覧性が下がっているため、一つのファイルに統合する。

### ゴール
- スキーマの統合
- URLの整理(一部競合しているため)

[2018-06-10 17:02] ghost commented on #117
現在実施中 https://github.com/hr-js/sam_api_server/pull/17

[2018-06-10 17:06] ghost opened #118 "起動/終了時の処理実装"
### 目的
https://github.com/hr-js/sam_api_server の起動・終了時の処理実装

### ゴール
#### 起動
- elasticsearchの起動を確認する(もしくは起動させる)
- 必要なインデックス(user,log-*)の作成

#### 終了
- elasticsearchの終了。マストでない。

[2018-06-10 17:08] ghost opened #119 "DB(elasticsearch)を含めた貫通テスト導入"
### 目的
DB(elasticsearch)アクセスを含めた貫通テストを導入する。

\* dockerの導入がされていることが前提。

[2018-06-10 17:09] ghost commented on #115
mergeされたためclose

[2018-06-10 17:09] #115 closed, assigned to krhrtky

[2018-06-13 05:04] ikkyu-3 commented on #74
@kakaka19
了解！
対応しないのでcloseします

[2018-06-13 05:04] #74 closed, assigned to ikkyu-3

[2018-06-13 11:33] krhrtky commented on #117
一覧性が指すものがよくわからないなと思います。

スキーマについては、
冗長な部分があったとしても、各pathに1つ用意したほうが
1対1の関係になるしでわかりやすくなるのと明示的な変数名にすればいいので煩わしくないと思います。
※共通のエラーは除く

ファイルの1ファイルにまとめると
行数が長くなって可読性が下がるとおもいます。
controllerと同じ名前にすれば、そこだけみれば済むのも利点だと思って
今の構成にしています。

[2018-06-13 12:44] ghost commented on #117
@krhrtky

一覧性についてはAPIが一つのモジュールに並んでいた方がわかりやすいかなという感じです。この辺は意見が欲しいです。

冗長な部分があったとしても、各pathに1つ用意したほうが
1対1の関係になるしでわかりやすくなるのと明示的な変数名にすればいいので煩わしくないと思います。
※共通のエラーは除く

重複を無視して、無理に1対1の関係にするとメンテがしづらくなります。あと明示的な変数名という言葉がちょっとよくわからないです。変数はなんにしろ何かを明示しているものだと思うのですが...。パスと同じ変数名という意味ですか？

行数が長くなって可読性が下がるとおもいます。
controllerと同じ名前にすれば、そこだけみれば済むのも利点だと思って
今の構成にしています。

行数が長くなって可読性が下がるなら、前述のスキーマの重複は無くした方がいいと思います。また、contro

[2018-06-13 12:48] ghost commented on #117
あとなんも言わないでやっちゃったのですが、スキーマは利用者登録・更新と入退室管理で分けています。

[2018-07-01 05:58] ghost opened #120 "目的別利用者集計APIのレスポンス確認"
[目的別利用者集計API](https://github.com/hr-js/sta_access_manager/wiki/api#%E9%9B%86%E8%A8%88%E7%9B%AE%E7%9A%84%E5%88%A5)のレスポンスの構造は以下になっているが、改めてみるとリストで返す意味があるか不明。

[code]

レスポンスのdateがそれぞれ異なる値なら何が入るかを確認したい。

[2018-07-01 05:59] ghost commented on #120
Requestのdateが指定した値までの日毎の集計を返すような感じだった気がします

[2018-07-01 06:28] ikkyu-3 commented on #120
値として、開放日の日付が入る認識ですね。この日付は、チャートに直接表示される日付データだったと記憶してます。
まぁ、あくまで自分の認識なので、

@tankette148 はどうですか ?

API作成するときに、なぜこのデータ構造にしたのか理由書いておく必要がありそうですね。

[2018-07-02 12:03] ghost commented on #120
@ikkyu-3
あー開放日の日付な気がして来ました。でもこれだとpagingとか必要すね。

[2018-07-03 13:13] ikkyu-3 opened #122 "[開発方針に関して] ラズパイ側のアプリケーション"
今後のラズパイ側の開発方針です。管理者・サーバ側は別です。

## なぜissueをたてたのか？
- 自分のコミットのペースを上げたい
  - 今後細かくプルリク投げる予定です。レビューに時間がかかってしまった場合、開発スピードを落としたくないのが本音。
- ラズパイ側の開発ペースを上げたい。

## なぜペースをあげるのか
ラズパイ側の開発を終わらせたい。

## どういう運用にするか
### pullリクエストのレビューは任意にする
#### reviewerの負担を減らす
=> 指定するのはやめよう。やりたい人がやる。知らない技術のことでレビュー頼まれると、つらい。
#### いつマージするの？
=> マイルストーンで管理する。レビューがない場合・現状いい解決策が浮かばない場合は、マイルストーンの期間が過ぎたらマージします。

不具合とか意見あれば、その後issueたてる方針にしたい

[2018-07-03 13:21] ikkyu-3 commented on #120
@kakaka19
pagingいるのかな？ちょっとその辺は自分では判断できないかな。。

@tankette148 の実装方針が把握できてないので、聞かないとですね。

[2018-07-03 14:03] krhrtky commented on #122
@ikkyu-3
開発スピードを上げることは賛成です。
じゃないと他にやりたいことがあってもなかなかできないので。。。

フロントの開発の流れとして特段、課題になりそうな部分はないかなと思います。
API側でもある程度スピードアップする必要があるかと思います。

あと細かい話になると思いますが、運用だとリリース後の運用を連想してしまうかなと。
開発方針でいいかと思います。

[2018-07-03 14:24] ghost commented on #122
@ikkyu-3
ラズパイ側の実装が https://github.com/hr-js/sta_access_manager/pull/121 以外にないのでなんとも言えませんが、

=> 指定するのはやめよう。やりたい人がやる。知らない技術のことでレビュー頼まれると、つらい。

レビューは実装の共有の意味合いもありますが、フロントサイドの実装者が今んとこ @ikkyu-3 だけなので、別にいいかなとも思います。

=> マイルストーンで管理する。レビューがない場合・現状いい解決策が浮かばない場合は、マイルストーンの期間が過ぎたらマージします。

やめた方がいいかと、slackでレビュワーを急かすぐらいでいいと思います。プルリク作成後にレビュワーに設定されるとレビュワーに通知飛ばないので気づかなかったりします。

[2018-07-03 14:46] ikkyu-3 commented on #122
@krhrtky

返信ありがとう。
そうだね。開発の方針としたいです。

@kakaka19

返信ありがとう。

正直、今後プルリク増えると考えると、この「急かす回数」が増えると考えてしまって、

こっちの作業の負担となるのが、ストレスに感じるんですよね。じゃぁ開発するなよって感じですが。。

んー、

一回なしでやってみませんか？

やらされるより自主性あったほうが、いいと思うんですよね。

[2018-07-03 14:48] ghost commented on #120
@ikkyu-3
まぁ運用期間が長くなるほどレスポンスがでかくなるので。あるに越したことはないですね。

[2018-07-03 14:57] ghost commented on #122
@ikkyu-3

まぁ今の開発スピード考えるとありかもしんないですね。
今んとこ立ってる実装issueのプルリクをあげてく感じならそこまでコードも多くならないし。

[2018-07-03 15:06] ikkyu-3 opened #123 "【Raspberry Pi】flow-typedをgit管理から外す"
## 目的
- git 管理から外す
  - [ここ](https://github.com/hr-js/sta_access_manager/pull/121?w=1)指摘もらって、外すことを判断
- package.jsonのscriptsにflow-typedをinstallするコマンドを定義する

## ゴール
- git管理から外れていること
- flow-typedでtypeをinstallするscriptsを定義する

[2018-07-03 15:09] ikkyu-3 opened #124 "【Raspberry Pi】storybook導入"
## 目的
- storybookの導入
  - componentがどのような実際どんなコンポーネントなのか見える

## ゴール
- 環境構築

[2018-07-03 15:12] ikkyu-3 commented on #122
では一旦やってみて、判断するということにします。
試用期限は、7月14日(土)までとして、 <= 暫定です
どう変化あったかまとめたいと思います。

ご意見ありがとうございます。

振り返りは、新しいissueたてますね。

closeしませんが、7/7日あたりでcloseしようと思います。

[2018-07-03 15:16] ikkyu-3 opened #125 "[振り返り] ラズパイ側の改・開発方針で開発をしてみて"
## 関連issue
[[開発方針に関して] ラズパイ側のアプリケーション](https://github.com/hr-js/sta_access_manager/issues/122)

## 振り返り内容
- 開発してみてどうだったか
- よかったこと
- わるかったこと

[2018-07-03 15:33] nekonogeboku commented on #120
すみません、ちょっとパッとは思い出せないです、
リストじゃなくてもいい気がします。

で問題ありません。
開放日ごとの理由集計用です。

開放日の日数的にページングが必要なほどか？と言われたため
データが増えた際に追加実装すればいいんじゃないか、と言う話になりました。

[2018-07-03 15:38] ghost commented on #120
データが増えた際に追加実装すればいいんじゃないか、と言う話になりました。

すげぇ言った気がする。API側の実装自体は簡単なので実装しときます。クライアント側はまぁどっちでも。

[2018-07-03 15:42] ikkyu-3 commented on #120
@kakaka19
このissueの目的は達成できた感じです？

[2018-07-03 16:06] ghost commented on #120
@ikkyu-3
そっすね。closeします

[2018-07-03 16:06] #120 closed, assigned to ikkyu-3, nekonogeboku

[2018-07-03 16:21] ikkyu-3 opened #128 "【Raspberry Pi】pathでエイリアスを使用する"
## 目的
- `import hoge from "../.../../../../../../xxx"`というように、相対パス地獄からの卒業

## ゴール
- webpackのresolve設定で`componentディレクトリ`のエイリアス`@components`を有効にする
- jestも同様に対応する
- エイリアスにより、eslintのパス関連のルールを変更
- エイリアス対応のため、flowの設定を変更

[2018-07-03 16:23] ikkyu-3 opened #129 "【Raspberry Pi】[components作成] atoms/MenuButtonを作成"
## 目的
メニューのボタンコンポーネントを作成する。

## ゴール
- アトミックデザインを採用しているので、components/atomsにMenuButtonを作成する(デザインは[mock](https://github.com/hr-js/sta_access_manager/tree/develop/mock/ikkey-3/sta_mock_v2)を参照)
- テストをかく
- storybookに登録する

[2018-07-03 16:28] ikkyu-3 opened #130 "【Raspberry Pi】[components作成] molecules/MenuListを作成"
## 目的
メニューのボタンリストコンポーネントを作成する。

## ゴール
- アトミックデザインを採用しているので、components/moleculesにMenuListを作成する(デザインは[mock](https://github.com/hr-js/sta_access_manager/tree/develop/mock/ikkey-3/sta_mock_v2)を参照)
- テストをかく
- storybookに登録する

[2018-07-03 16:30] ikkyu-3 opened #131 "【Raspberry Pi】[components作成] organisms/Menuを作成"
## 目的
メニューコンポーネントを作成する。

## ゴール
- アトミックデザインを採用しているので、components/organismsにMenuを作成する(デザインは[mock](https://github.com/hr-js/sta_access_manager/tree/develop/mock/ikkey-3/sta_mock_v2)を参照)
- テストをかく
- storybookに登録する

[2018-07-04 14:27] #123 closed, assigned to ikkyu-3

[2018-07-05 15:57] ikkyu-3 commented on #131
Atomic Designの採用をやめたのでclose

[2018-07-05 15:57] #131 closed, assigned to ikkyu-3

[2018-07-05 15:58] ikkyu-3 commented on #130
Atomic Designの採用をやめたのでclose

[2018-07-05 15:58] #130 closed, assigned to ikkyu-3

[2018-07-05 15:58] ikkyu-3 commented on #129
Atomic Designの採用をやめたのでclose

[2018-07-05 15:58] #129 closed, assigned to ikkyu-3

[2018-07-07 02:15] krhrtky commented on #125
- 開発してみてどうだったか
  - 新しいFWとかサーバーサイドのNode.jsの理解が進んだ。
  - GitHubをちゃんと？した使い方をした。
- よかったこと
  - いろいろ話し合いながら進めたので、色んな人の意見や考え方がわかった。
  - スクラッチするの大変っていうのがわかった。
- わるかったこと
  - 設計とかに時間を割いたので、なかなか実装に移れなかった。
  - 業務 + αでやろうとするとスピードに個人差が出てしまった。
  - 普通の業務と同じサイクルで回そうとしてツラかった。

[2018-07-07 10:06] ghost commented on #125
#122 の方針に関して。長いスパンでやるとまた色々と出てきそうですが。

開発ペースは上がるが、複数の実装が平行に行われた時が難しそう。このままやるなら、とりあえず @ikkyu-3 がプロトタイプ的なものをバリバリに作って、そのあとにバグフィックスなり、実装追加なりをやっていく方がいいと思いました。

レビューは必要だと思う。レビュワーからの指摘よりも、実装の共有という点で重要。あとでコード見たらわかるのはそのコードを書いた人のみ。

あと、コミットが大きくなりがちな気がしたので(一人だと意識しにくい)、その辺はメンバー同士で注意しあった方がいいと思いました。

[2018-07-07 16:22] ghost commented on #117
優先度低いのでClose

[2018-07-07 16:22] #117 closed, assigned to nobody

[2018-07-08 08:42] ikkyu-3 commented on #125
コメントありがとう！
@krhrtky

我々の業務内容的に経験する機会？がなかなかないように思えるので、いい経験になった気がしますね。

これがスクラッチのデメリット(リスク)のような気がしています。
どのタイミングだったり、どこまでやれば実装いけるのかの判断は、実装後にまた考えてみたいですね。

現段階だと、[adobe xd](https://www.adobe.com/jp/products/xd.html)使えばもっとはやめにできのでは？とか、
またいろんな内容で振り返る時間を作りたいですね。

@kakaka19

ですね。バリバリ作っていくのは賛成です。レビューの負担がでかくなるかもしれないけど、よろしくお願いします。

実装の共有をわかりやすくする点で、コメント(今回レビューで意図が読めない実装に対する)も意識してみようと思います。

その点は注意しあうしかないですね。
か

[2018-07-08 08:54] ikkyu-3 commented on #125
1週間ためしてみて・・・

## 開発してみてどうだったか
- 開発スピードあがるのでモチベーション上がった

## よかったこと
- 実装者側としてリズム？が出てきて、やる気がでる。
- プルリク出した後、次の開発ができるのは、気持ち的によい。

## わるかったこと
- レビューは任意なので、レビューする人が固定化
  - 開発ペース優先なので、想定していることのため対策の優先順位は低い認識

[2018-07-08 08:56] #124 closed, assigned to ikkyu-3

[2018-07-08 08:56] #128 closed, assigned to ikkyu-3

[2018-07-08 08:57] ikkyu-3 commented on #122
closeします。

[2018-07-08 08:57] #122 closed, assigned to ikkyu-3, krhrtky, nekonogeboku, minako-nakanishi, Tchikawa

[2018-07-08 08:57] ikkyu-3 commented on #104
PCが不調のためマイルストーンを変更しました。

[2018-07-14 07:56] ikkyu-3 opened #139 "[リファクタリング] storybook"
## 現状
1ソースでstorybookを書いていたが、今後冗長化していくリスクがある

## 対応
コンポーネント毎にstorybookのファイルを作成して、config.jsにrequireするように変更する

[2018-07-14 08:10] #104 closed, assigned to ikkyu-3

[2018-07-14 08:14] ikkyu-3 commented on #125
2週間やってみて、実装しやすかったので

**この開発方針で今後もやります。**

違うやり方したい場合は、提案してください。
開発スピード優先なので、よりスピードがあがる方法あればwelcomeです。

[2018-07-14 08:14] #125 closed, assigned to ikkyu-3, krhrtky, nekonogeboku, minako-nakanishi, Tchikawa

[2018-07-14 08:17] ikkyu-3 commented on #65
closeしてなかったので、closeします。

コンポーネントができたらまた、レビューしましょう。

[2018-07-14 08:17] #65 closed, assigned to Tchikawa

[2018-07-14 08:22] #43 closed, assigned to ikkyu-3, krhrtky

[2018-07-14 08:23] ikkyu-3 commented on #43
apiの作成段階なので、closeします。

また問題が発生したら、別issueで対応します。

[2018-07-21 02:24] krhrtky opened #148 "fastify のバージョンアップ"
@kakaka19` からの[PR](https://github.com/hr-js/sam_api_server/pull/24)でも来ていましたが、
GitHubからも[脆弱性の指摘](https://github.com/hr-js/sam_api_server/network/dependencies) があったので、バージョンをあげます。

## 確認事項
- 動作確認
  - 問題ないとのことでしたが、TESTは動きませんでした。もう一度見直したほうがいいと思います。

[2018-07-21 05:23] #139 closed, assigned to ikkyu-3

[2018-07-21 05:24] #105 closed, assigned to ikkyu-3

[2018-07-21 05:42] ghost opened #149 "4xx系エラー発生時のハンドリング実装"
- 0,1のフラグでエラー発生を管理しないようにする。
- DAO(Logic)層で明示的にエラーを発生させる。
- controller側でtry/catchを行う。
- 500系はとりあえず気にしない。

- validate処理のため、app/repository/purpose.jsをapp/common/purpose.jsに移動。

[2018-07-25 15:02] ikkyu-3 opened #154 "Union Typesを使用する"
## 目的
flowのunion typesを使用してないので、使用するように変更する。

## なぜやるのか
デフォルト値を設定するため

`undifined`ならデフォルト設定を利用するために、union typesの使用が必要と判断

[2018-07-28 04:27] #154 closed, assigned to ikkyu-3

[2018-07-29 15:17] ghost commented on #94
実装終わったのでClose

[2018-07-29 15:17] #94 closed, assigned to Tchikawa

[2018-07-29 15:17] ghost commented on #118
実装したのでClose

[2018-07-29 15:17] #118 closed, assigned to nobody

[2018-08-05 11:58] krhrtky commented on #148
バージョンアップ済みなのでクローズします。

[2018-08-05 11:58] #148 closed, assigned to krhrtky, Tchikawa

[2018-08-05 11:59] krhrtky commented on #114
管理者画面はべつissueで管理したほうがいいと思うので、一度クローズします。

[2018-08-05 11:59] #114 closed, assigned to krhrtky

[2018-08-11 08:33] #106 closed, assigned to ikkyu-3

[2018-08-13 14:04] ikkyu-3 opened #168 "[コンポーネント] テストのリファクタリング"
## 目的
- テストコードを見やすくする

## なぜやるのか
### **以前から、自分の記述したテストコードが見辛いと思っていた**
- `describe`が多く、ネストしたコードが多いため、**何をテストするのか**がわかりにくい
### [Vue コンポーネントの単体テスト — Vue.js](https://jp.vuejs.org/v2/cookbook/unit-testing-vue-components.html)を読んだ

という記述を見て、単体テストに対しての意識が変わった。

### コンポーネントを作成し終わったので、リファクタリングするにはいいタイミング

[2018-08-18 05:13] #168 closed, assigned to ikkyu-3

[2018-08-18 05:13] #107 closed, assigned to ikkyu-3, minako-nakanishi

[2018-08-18 05:19] ikkyu-3 opened #170 "storeのデータモデルを決める"
## 目的
reduxで使用するstoreのデータモデルを決める

[2018-08-18 07:47] ikkyu-3 commented on #170
[code]

[2018-08-19 15:21] ikkyu-3 opened #171 "action作成"
## 目的
actionを作成する

通信もactionで行うので、通信モジュールも作成する

[2018-08-19 15:22] #170 closed, assigned to ikkyu-3

[2018-08-27 16:18] ikkyu-3 opened #172 "webpack-dev-serverからwebpack-serveへ移行"
## 目的
webpack-serveへ移行する

[webpack-serve](https://github.com/webpack-contrib/webpack-serve) 今後はこっちになりそうな感じなので、時間が開いたら移行作業を行う。

[2018-09-10 18:48] ikkyu-3 commented on #172
メンテナンスモードでなくなり([docs(readme): remove obsolete maintenance note · webpack/webpack-dev-server@6c1d8d8](https://github.com/webpack/webpack-dev-server/commit/6c1d8d8ea1c06831a4360cdb661cc58bb52d77ec#diff-04c6e90faac2675aa89e2176d2eec7d8?w=1))、webpack-serveはwebpack-dev-serverにmergeされるようなので、対応しない

[2018-09-10 18:48] #172 closed, assigned to ikkyu-3

[2018-09-15 05:39] #112 closed, assigned to krhrtky

[2018-09-15 05:39] krhrtky commented on #112
完了したのでclose

[2018-09-22 01:43] ghost commented on #82
docker-composeで開発/運用環境構築したのでclose.
iDocker Hubにmageの登録は行わず、ソースをコンテナ内にマウントすることにした。

[2018-09-22 01:43] #82 closed, assigned to nobody

[2018-09-22 01:46] ghost opened #173 "elasticsearchとの接続エラー(5xx系)のハンドリング検討/実装"
5xx系エラー発生時のエラーハンドリングを検討/実装

エラー発生が予想される条件
- elasticsearchと接続できない

[2018-09-22 01:48] ghost commented on #173
internal server errorが起こりそうな条件が他にもあったら追記お願いす @krhrtky

[2018-09-22 01:50] ghost opened #174 "エラー発生時のログ運用の検討/実装"
5xx/4xx系エラーのログ出力をどうするか。

今の所こんな感じで考えている

- 5xx系エラー
    - エラー内容をslackに通知/ファイルに出力

- 4xx系エラー
    - ファイルに出力

fastifyのloggerでいける?ファイル出力はできそうだが...

[2018-09-22 02:10] ghost commented on #174
fastifyのloggerはファイル出力だけにしておいて、slackは別に投げるのも可能

https://github.com/slackapi/node-slack-sdk

[2018-09-22 06:45] krhrtky commented on #174
それで問題ないと思う。
あとは、↓の課題がクリアできれば問題ないはず。
## 課題
  - loggerのファイル出力

[2018-09-22 06:47] krhrtky commented on #173
タイムアウトも考慮して置けるといいのかなと。

[2018-09-22 07:02] ghost commented on #174
fastifyのloggerはpinoってやつらしいから多分いける気がする

https://github.com/pinojs/pino

[code]

[2018-09-22 07:06] ghost commented on #174
こんな感じでいけるっぽい

[code]
log

[code]

[2018-09-22 07:12] krhrtky commented on #174
なら問題はないね

[2018-09-25 16:28] ikkyu-3 opened #176 "[add] typesを作成"
## 目的
flowを使用するので、使用するtypeをまとめたファイルを作成する。

[2018-09-25 16:35] ikkyu-3 opened #178 "[add] reducersを追加"
## 目的
stateのtypeを決めたので、reducerを作成する

[2018-09-25 17:12] ikkyu-3 opened #179 "[add] constantを追加"
## 目的
定数を定義したファイルを定義する

[2018-09-26 17:03] ikkyu-3 opened #182 "[add] modulesを追加"
## モジュールを定義
- 通信系
- 汎用的なモジュール

など定義する

[2018-09-26 17:05] ikkyu-3 opened #183 "[change] componentsの変更"
## 変更点
`function` で定義していたが、ライフサイクルを使用する必要があるため変更を行う

[2018-09-26 17:06] ikkyu-3 opened #184 "[add] container追加"
## 目的
containerを定義していく

[2018-09-26 17:07] ikkyu-3 opened #185 "[add] モックサーバ作成"
## 目的
json-serverだとやりずらいので、モックサーバを作成する

[2018-09-26 17:12] ikkyu-3 opened #186 "[change] 環境設定を変更する"
## 目的
+ importのパスとしてaliasを使用できているが、新しくフォルダを作成したため一部だけ設定している。  なので追加設定を行う
+ そのほか環境設定を変更(ignoreなど)

aliasを設定する箇所
- webpack
- jest
- flowconfig

[2018-09-26 17:15] ikkyu-3 opened #187 "[change] 任意(クライアントからのリクエスト)のタイミングで音を出るようにserver側を変更する"
## 目的
画面の遷移状態によってスキャン音を出す・出さないを制御したいので、server側を変更する

[2018-09-29 06:13] ikkyu-3 opened #192 "[test] modulesのテストを作成する"
## 目的
単体テストを作成する

[2018-09-29 06:14] ikkyu-3 commented on #183
ルーティング実装 #102 も同時に行う

[2018-09-29 06:30] ikkyu-3 commented on #183
client/index.jsxも変更しておく

[2018-09-29 06:31] ikkyu-3 opened #193 "[components] storybookの更新"
## 目的
[change] componentsの変更 #183の変更分をstorybookにも反映しておく

[2018-09-29 06:34] ikkyu-3 opened #194 "[test] componentsのテストを見直す"
## 目的
[change] componentsの変更 #183 により、テストに変更箇所や追加が発生するので、見直す

[2018-09-29 06:54] ikkyu-3 opened #197 "publicディレクトリに、jsディレクトリ, cssファイルを追加"
## 目的
- publicディレクトリにcss(グローバルなcss)ファイルを追加する
- jsディレクトリ(空)を追加

[2018-09-29 07:06] #67 closed, assigned to minako-nakanishi

[2018-09-29 07:06] ghost commented on #68
やってなさげなのでClose

[2018-09-29 07:06] #68 closed, assigned to yumtana2

[2018-09-29 07:07] ghost commented on #83
dockerで環境できたのでclose

[2018-09-29 07:07] #83 closed, assigned to nobody

[2018-09-29 07:10] ghost commented on #84
やれる見通しがないので一旦close

[2018-09-29 07:10] #84 closed, assigned to nobody

[2018-09-29 07:11] ghost commented on #75
ほかのissueでやるのでclose

[2018-09-29 07:11] #75 closed, assigned to krhrtky

[2018-09-29 07:11] ghost commented on #149
マージされたのでclose

[2018-09-29 07:11] #149 closed, assigned to krhrtky

[2018-09-29 07:20] ikkyu-3 opened #200 "[change] package.jsonのコミット忘れ"
## 目的
package.jsonのコミット忘れがあったので対応する

[2018-09-29 07:23] #200 closed, assigned to ikkyu-3

[2018-09-29 07:23] #197 closed, assigned to ikkyu-3

[2018-09-29 07:23] #187 closed, assigned to ikkyu-3

[2018-09-29 07:23] #186 closed, assigned to ikkyu-3

[2018-09-29 07:23] #185 closed, assigned to ikkyu-3

[2018-09-29 07:23] #184 closed, assigned to ikkyu-3

[2018-09-29 07:24] #183 closed, assigned to ikkyu-3

[2018-09-29 07:24] #182 closed, assigned to ikkyu-3

[2018-09-29 07:24] #179 closed, assigned to ikkyu-3

[2018-09-29 07:24] #178 closed, assigned to ikkyu-3

[2018-09-29 07:24] #176 closed, assigned to ikkyu-3

[2018-09-29 07:24] #171 closed, assigned to ikkyu-3

[2018-09-29 07:24] #102 closed, assigned to ikkyu-3

[2018-09-29 07:29] ikkyu-3 opened #202 "[ラズパイ] ラズパイ内で起動テストを行う"
## 目的
APIサーバーに連結する前に、実際にラズパイでの使用感を試す

[2018-09-29 07:30] ikkyu-3 opened #203 "READMEを書く"
## 目的
READMEを記述する

## 記述内容
順次書いていく
- .env作成の説明
- 起動方法手順

[2018-09-29 07:38] ikkyu-3 opened #204 "[fix] 登録時に送信するメールアドレス情報にドメインがない"
## 目的
ドメインを追加する

[2018-10-02 16:15] ghost commented on #116
リポジトリを整理。reactを前提にした開発環境でなかったため、developブランチを新たにmasterから切り出し、@tankette148のコミットはexample-highchartブランチに逃した。
https://github.com/hr-js/sam_manager_admin/tree/develop
https://github.com/hr-js/sam_manager_admin/tree/example-highchart

[2018-10-02 16:17] ghost commented on #116
開発環境関連のコミットはenv-settingsブランチにある。
https://github.com/hr-js/sam_manager_admin/tree/env-settings

[2018-10-06 07:52] ikkyu-3 opened #206 "スクリプトで音がなるように変更する"
## 目的
コマンドを実行して音がなるようにserverを変更する

[2018-10-06 07:52] #204 closed, assigned to ikkyu-3

[2018-10-06 08:15] ikkyu-3 opened #208 "ラズパイのスクロールバーを非表示にする"
## 目的
スクロールバーが表示されているためデザインが崩れたので、非表示にする

[2018-10-06 08:17] ikkyu-3 opened #209 "起動中アニメーションを実装する"
## 目的
表示まで時間がかかっているので、起動中などの表示を画面に出したい

[2018-10-22 14:44] ikkyu-3 opened #210 "mockディレクトリを削除する"
## 目的
### mockディレクトリを削除する

mockを今後使用する予定がないため削除する。

[2018-10-22 14:52] #206 closed, assigned to ikkyu-3

[2018-10-27 05:44] ikkyu-3 commented on #208
## 原因
Chromiumの設定

## 設定方法
アドレスバーに以下を入力
[code]

**Overlay Scrollbars**の設定を`Enabled`に変更し再起動する。

[2018-10-27 05:44] #208 closed, assigned to ikkyu-3

[2018-11-17 06:17] #210 closed, assigned to ikkyu-3

[2018-11-17 06:17] #192 closed, assigned to ikkyu-3

[2018-11-17 06:42] ikkyu-3 opened #213 "[fix] カードスキャンでエラーが発生する"
## 現状
カードスキャン時にエラーが発生

## 原因
thisを参照しているオブジェクトが期待しているオブジェクトではなかった

## 対応
bind(this)を変更する前に戻す

[2018-11-23 05:12] #209 closed, assigned to ikkyu-3

[2018-11-23 05:13] #213 closed, assigned to ikkyu-3

[2018-12-08 04:23] #194 closed, assigned to ikkyu-3